@charset "utf-8";
/* 預設共用 */
* {font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "微軟正黑體"; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a:focus, button:focus, buttom.active {outline: none; text-decoration: none;}
ul, li {list-style: none; margin: 0; padding: 0;}
a, a:hover, button, button:hover {text-decoration: none; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
@media handheld {
  .nav-tabs > li:nth-child(4) {display: none;}
}
.form-control {line-height: 34px;}
body {background: #f5f5f5; background-color: #f5f5f5;}
/* 線上客服 */
.loaded .sl-widget-box.sl-widget-box.coverShown .sl-widget-box__main__close span {background: #000 !important;}

.header {margin: 0px; padding: 0px; text-align:center; position: fixed; left:0; top:0; width:100%; height: 130px; transition: top .5s; z-index: 999;}
.gizle {top: -73px !important;}
.sabit {top:0; /*z-index: 9999;*/}

/** New_Header **/
.navbar {min-height: 56px; margin: 0;}
.navbar-fixed-top {width: 100%; display: table; background-color: #333;}

.navbar-inverse {background-color: #333; border-color: #101010;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: #181818;}
.navbar-inverse .navbar-header {width: 100%; display: table; padding: 0; margin: 0; position: relative; padding: 1.5em 1.25em;}
.navbar-inverse .navbar-header h2.block-title {width: 100%;display: table;font-size: 1.875em;line-height: 1.2em;margin: 14px 0;text-align: center;white-space: nowrap;font-family: sans-serif;color: #ff0040;font-weight: bold;}
.navbar-inverse .navbar-header h2.block-title a {margin: 0; font-size: 1.875em; line-height: 1.2em; text-align: center; white-space: nowrap; font-family: sans-serif; color: #ff0040; font-weight: bold;}


.navbar-inverse .navbar-nav {margin: 0 auto; float: none !important; width: 100%; display: table; padding: 0.75em 1.25em;}
.navbar-inverse .navbar-nav > li {float: none; display: inline-block; border-right: 1px solid rgba(255, 255, 255, 0.1); line-height: 34px;}
.navbar-inverse .navbar-nav > li:last-child {border-right: none;}
.navbar-inverse .navbar-nav > li > a {padding: 0.42857em 0.85714em; display: block; color: #ccc; font-size: 1.2em; line-height: 1.28571em; font-weight: 100; outline: none; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.navbar-inverse .navbar-nav > li a:focus, .navbar-inverse .navbar-nav > li a:hover {color: #fff; background: rgba(255, 255, 255, 0.1); -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.navbar-inverse .navbar-nav > li.is-active a {color: #fff;}


#top .block-title {}

/* 主框架 */

/* 麵包屑 */
.breadcrumb {background-color: transparent; margin-top: 130px;}
.breadcrumb > li {line-height: 30px;}
.breadcrumb > li.active {color: #a59681;}
.breadcrumb > li a {color: #777;}
.breadcrumb > li a:hover {color: #333;}

/* FOOTER */
footer .prose .small span {float: right;}

footer .prose .small button {position: relative; z-index: 99999;}
.service_box {display: none;}
#widget {display: block;}
/* Loader */

/* 回頂點 */
.actGotop{position:fixed;_position:absolute;bottom:100px;right:100px;width:60px;height:60px;display:none;z-index: 999;}
.actGotop a, .actGotop a:link{width:60px;height:60px;display:inline-block; border-radius: 30px; outline:none; background:#005bac; line-height: 80px; text-align: center; color: #FFF; font-weight: bold;}
.actGotop a:hover{background:#e60012; outline:none;}  
.actGotop a i {position: absolute; width: 60px; left: 0; top: 5px; font-size: 30px;}


/********** 合併搜尋列表頁 **********/

/****** 合併搜尋引擎-個團及團型共用-也可以最外層class名稱做區分 GroupList & MGroupList ******/
.merge_search {width: 100%; display: table; padding: 0 20px; background:rgba(0,0,0,0.6);}

/* 搜尋引擎標題-可依各家喜好更換 */
.merge_search h4 {color: #FFF; line-height: 50px; margin: 0 0 0 15px;}
.merge_search h4::before {content: '旅遊快速查詢';}

/* 搜尋引擎欄位標題-共用 */
.merge_search ul {display: table; width: 100%; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; padding:15px 0 0;}
.merge_search ul li {float: left;}
.merge_search ul li label {float: left; text-align: right; color: #FFF; margin: 0; line-height: 34px; font-weight: 400; position: relative;}
.merge_search ul li label i {color: #F00; font-weight: 600; font-size: 13px; margin: 0 3px 0 0; position: absolute; left: -20%; top: 11px;}

/* 旅遊區域大小分類 */
.merge_search ul li.merge_search_area .merge_search_select {float: left; margin: 0 0 15px 15px; line-height: 22px; appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_drop_down.png) #FFF no-repeat 99% center;}
.merge_search ul li.merge_search_area .merge_search_select:nth-child(2) {width: 30%;}
.merge_search ul li.merge_search_area .merge_search_select:nth-child(3) {width: 51.3%;}

/* 出發期間 */
.merge_search ul li.merge_search_date .input-group-addon {display: inherit; position: absolute; border-radius: 4px;}
.merge_search ul li.merge_search_date .input-group-btn {display: inherit;}
.merge_search ul li.merge_search_date .input-group .form-control {display: inherit;}
.merge_search ul li.merge_search_date .form_date {float: left; width: 40.7%; margin: 0 0 15px 15px;}
.merge_search ul li.merge_search_date .merge_search_input_date {line-height: 22px; appearance: none; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_helpday.png) #FFF no-repeat 99% center;}

/* 出境機場 */
.merge_search ul li.merge_search_airport .merge_search_select {float: left; width: 66%; margin: 0 0 15px 15px; line-height: 22px; appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_drop_down.png) #FFF no-repeat 99% center;}

/* 旅遊天數 */
.merge_search ul li.merge_search_days .merge_search_select {float: left; width: 66%; margin: 0 0 15px 15px; line-height: 22px; appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_drop_down.png) #FFF no-repeat 99% center;}

/* 每人預算 */
.merge_search ul li.merge_search_budget .merge_search_select {float: left; width: 66%; margin: 0 0 15px 15px; line-height: 22px; appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_drop_down.png) #FFF no-repeat 99% center;}

/* 航空公司 */
.merge_search ul li.merge_search_airline .merge_search_select {float: left; width: 66%; margin: 0 0 15px 15px; line-height: 22px; appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: ' '; background: url(/eweb_cowellt1/images/icon_drop_down.png) #FFF no-repeat 99% center;}

/* 合併其他選項 */
.merge_search ul li.merge_search_combine {padding: 6px 0 6px 9%;}
input[type=checkbox].css-checkbox {position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
input[type=checkbox].css-checkbox + label.css-label {padding-left: 28px; height: 22px; font-weight: 100; display: inline-block; line-height: 22px; background-repeat: no-repeat; background-position: 0 0; font-size: 15px; vertical-align: middle; cursor: pointer; margin-right: 25px; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -48px; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
label.css-label {background-image: url(/eweb_cowellt1/images/grey.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/* 產品快搜 */
.merge_search ul li.merge_search_keyword .merge_search_input {float: left; width: 84.1%; margin: 0 0 15px 15px; line-height: 22px;}

/* 搜尋引擎按鈕 預設置右，可透過 text-align 的其他參數調整 */
.merge_search .merge_search_btn {margin:15px 0px; text-align: right;}
.merge_search .merge_search_btn a i {margin-right: 5px;}
.merge_search .merge_search_btn a:nth-child(1) {padding: 6px 42px;}

/* 搜尋條件及排序方式 */
.merge_sequence {background: #FFF; height: 75px;}
.merge_sequence > div {width: 50%; float: left;}
.merge_sequence > div.condition {/*width: :60%;*/}
.merge_sequence > div.theway {/*width: :40%;*/}
.merge_sequence > div.condition ul li {float:left; line-height: 75px; font-size: 18px; color: #8fb223; }
.merge_sequence > div.condition ul li:after {content:'/'; margin: 0 5px;}
.merge_sequence > div.condition ul li:nth-child(1) {color: #3a3a3a; margin: 0px; height: 75px;}
.merge_sequence > div.condition ul li:nth-child(1):afterm, .GO_sequence > div.condition ul li:nth-last-child(1):after {content:normal;}
.merge_sequence > div.condition ul li:nth-child(1):before {content:url(/eweb_cowellt1/images/icon_right.png); margin: 0 5px 0 0; vertical-align: sub;}

.merge_sequence > div.theway .product_items {height: 40px; line-height: 40px; text-align: right; padding-right: 10px;}
.merge_sequence > div.theway ul {display: table; line-height: 75px; float: right; margin: 0 5px 0 0;}
.merge_sequence > div.theway ul li {float: left; margin: 0 5px;}
.merge_sequence > div.theway ul li input {vertical-align: middle; margin: 0; padding: 0;}
.merge_sequence > div.theway ul li label {margin: 0;}

.nav-tabs > li:nth-last-child(1) {float: right;}



/********** 列表頁 **********/

/* 圖文切換 */
.container .merge_search_list {margin-top: 20px;}
.container .merge_search_list #skin {display: table; float: right; position: relative; z-index: 20; right: 0;}
.container .merge_search_list #skin li {display: table-cell; cursor: pointer; color: #737373; padding: 5px 10px; background: #f5f5f5; border: 1px solid #ccc; /*box-shadow: inset 0 0 5px rgba(51,51,51,.1);*/ border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; -webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.container .merge_search_list #skin li i {margin-right: 5px;}
.container .merge_search_list #skin li:nth-child(1) {border-right: none; border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px;}
.container .merge_search_list #skin li.selected {cursor: default; background: #e6e6e6; color: #333; -webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.container .merge_search_list #skin li:hover {background: #e6e6e6; color: #333; -webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}

/* 判斷列表模式或圖片模式前，先讓圖片隱藏 */
.product_img img {display: none;}

/* 列表模式 */
.skin_list {margin: 20px 0; padding: 0 15px;}
/*整體瀑布流框架*/
.skin_list .masonry-container {display: block; height: inherit !important;}
.skin_list .products {border: 1px solid #e1e1e1;}

/* 列表標題 */
.skin_list .products .product_title {width: 100%; display: table; line-height: 50px; position: inherit !important;}
.skin_list .products .product_title > div {float: left;background-color: #f7efe3;text-align: center; border-right: 1px solid #e1e1e1;}

/****** 個團列表 GroupList ******/
/** 個團列表 START **/
/*類型*/
.GroupList .skin_list .products .product_title > div.product_type {width: 4%;}
/*產品名稱*/
.GroupList .skin_list .products .product_title > div.product_name {width: 37%;}
/*天數*/
.GroupList .skin_list .products .product_title > div.product_days {width: 4%;}
/*出發日期*/
.GroupList .skin_list .products .product_title > div.product_date {width: 8%;}
/*個團代碼
.GroupList .skin_list .products .product_title > div.product_num {width: 10%;}*/
/*航班*/
.GroupList .skin_list .products .product_title > div.product_info {width: 5%;}
/*售價*/
.GroupList .skin_list .products .product_title > div.product_price {width: 13%;}
/*機位*/
.GroupList .skin_list .products .product_title > div.product_total {width: 5%;}
/*可售*/
.GroupList .skin_list .products .product_title > div.product_available {width: 5%;}
/*報名*/
.GroupList .skin_list .products .product_title > div.product_btn {width: 9%;}
/*促銷*/
.GroupList .skin_list .products .product_title > div.product_remarks {width: 10%; border: none;}

.GroupList .skin_list .products .product {border-bottom: 1px solid #e1e1e1;}
.GroupList .skin_list .products .product_item .thumbnail {border: none;}
.GroupList .skin_list .products .product_item:nth-iast-child(1) {border-bottom: none;}
/*產品內文大框架*/
.GroupList .skin_list .product_item {position: inherit !important;}
/* 列表內文 */
.GroupList .skin_list .product_item .thumbnail {display: table; width: 100%; border-radius: 0; margin: 0; padding: 0; position: relative;}
.GroupList .skin_list .product_item:nth-child(odd) .thumbnail {background: #f9f8f8;}
.GroupList .skin_list .product_item .thumbnail:hover {background:#f5f4f4;}
.GroupList .skin_list .product_item .thumbnail > div {display: inline-block; text-align: center; vertical-align: middle; padding: 10px 0 20px;}
/*圖片*/
.GroupList .skin_list .product_item .thumbnail > div.product_img img {display: none;}
/*類型*/
.GroupList .skin_list .product_item .thumbnail > div.product_type {width: 4%;}
.GroupList .skin_list .product_item .thumbnail > div.product_type span {background: #a59681; border-radius: 4px; width: 25px; height: 25px; margin: 0 auto; display: table; text-align: center; line-height: 25px; font-size: 15px; color: #FFF;}
/*產品名稱*/
.GroupList .skin_list .product_item .thumbnail > div.product_name {width: 37%; text-align: left; padding-left: 10px;}
.GroupList .skin_list .product_item .thumbnail > div.product_name a {color: #333; font-size: 16px;}
.GroupList .skin_list .product_item .thumbnail > div.product_name a span {float: left; margin: 5px 5px 0 0;}
.GroupList .skin_list .product_item .thumbnail > div.product_name a span.product_concessions {width: 70%; color: #F00; font-size: 14px;}
.GroupList .skin_list .product_item .thumbnail > div.product_name a span.product_num {width: 25%; color: #666; font-size: 14px;}
.GroupList .skin_list .product_item .thumbnail > div.product_name a div.product_tag {width: 100%; margin: 0;}
/*分享*/
.GroupList .skin_list .product_item .thumbnail > .product_sharer {display: table; text-align: left; padding: 0px; position: absolute; z-index: 10; bottom: 6px; left: 450px;}
.GroupList .skin_list .product_item .thumbnail > .product_sharer > li { margin-right: 5px !important;display: inline-block; vertical-align: middle !important;}
.GroupList .skin_list .product_item .thumbnail > .product_sharer > div a {display: block;}
.GroupList .skin_list .product_item .thumbnail > .product_sharer > div a img {width: 20px;}
.GroupList .skin_list .product_item .thumbnail > .product_sharer > div.line-share-button {display: none;}
/*天數*/
.GroupList .skin_list .product_item .thumbnail > div.product_days {width: 4%;}
/*出發日期*/
.GroupList .skin_list .product_item .thumbnail > div.product_date {width: 8%;}
/*個團代碼
.GroupList .skin_list .product_item .thumbnail > div.product_num {width: 10%;}*/
/*航班*/
.GroupList .skin_list .product_item .thumbnail > div.product_info {width: 5%;}
.GroupList .skin_list .product_item .thumbnail > div.product_info a {cursor: pointer; font-size: 20px;}
.GroupList .skin_list .product_item .thumbnail > div.product_info a span {display: none;}
/*售價*/
.GroupList .skin_list .product_item .thumbnail > div.product_price {width: 13%; text-align: right; padding-right: 10px;}
.GroupList .skin_list .product_item .thumbnail > div.product_price span {width: 100%; text-align: right; float: right;}
.GroupList .skin_list .product_item .thumbnail > div.product_price span strong{color: #F00; font-size: 20px; font-weight: bold;}
/*機位*/
.GroupList .skin_list .product_item .thumbnail > div.product_total {width: 5%;}
.GroupList .skin_list .product_item .thumbnail > div.product_total span.num-title {display: none;}
/*可售*/
.GroupList .skin_list .product_item .thumbnail > div.product_available {width: 5%;}
.GroupList .skin_list .product_item .thumbnail > div.product_available span.num-title {display: none;}
/*報名*/
.GroupList .skin_list .product_item .thumbnail > div.product_btn {width: 9%; padding: 10px; font-size: 12px; color: #999;}
.GroupList .skin_list .product_item .thumbnail > div.product_btn a {display: block; font-size: 14px; color: #fff;}
.GroupList .skin_list .product_item .thumbnail > div.product_btn h6 {margin: 0 0 5px 0;}
/*促銷*/
.GroupList .skin_list .product_item .thumbnail > div.product_remarks {width: 10%; padding: 10px;}


/* 圖片模式 */
.GroupList .skin_module {margin: 20px 0;}
.GroupList .skin_module .products {padding: 0 5px;}
.GroupList .skin_module .products .product_title {display: none;}

.GroupList .skin_module .products .item {width: 25%; padding: 0 10px; float: left;}
.GroupList .skin_module .products .item .thumbnail {position: relative; display: inline-block;}
/*圖片*/
.GroupList .skin_module .products .item .thumbnail .product_img {}
.GroupList .skin_module .products .item .thumbnail .product_img img {display: block; margin-bottom: -25px; width: 100%; height: 200px;}
/*類型*/
.GroupList .skin_module .products .item .thumbnail > div.product_type {position: absolute; top: 10px; left: 10px; z-index: 10;}
.GroupList .skin_module .products .item .thumbnail > div.product_type span {background: #a59681; border-radius: 4px; width: 25px; height: 25px; display: table; text-align: center; line-height: 25px; font-size: 15px; color: #FFF;}
/*產品名稱*/
.GroupList .skin_module .products .item .thumbnail > div.product_name {text-align: justify; padding: 35px 5px 5px;}
.GroupList .skin_module .products .item .thumbnail > div.product_name a {color: #333; font-size: 16px;}
.skin_module .products .item .thumbnail > div.product_name a span {float: left; margin: 5px 5px 0 0; font-size: 13px;}
.GroupList .skin_module .products .item .thumbnail > div.product_name a span.product_concessions {width: 100%; color: #F00; font-size: 14px;}
.GroupList .skin_module .products .item .thumbnail > div.product_name a span.product_num {display: none; width: 25%; color: #999; font-size: 13px; float: inherit;}
.GroupList .skin_module .products .item .thumbnail > div.product_name a div.product_tag {margin: 0; display: table; position: absolute; top: 5px; right: 5px;}
/*分享*/
.GroupList .skin_module .products .item .thumbnail > .product_sharer {width: 100%; display: table; text-align: left; padding: 10px; right: 0; bottom: 55px;}
.GroupList .skin_module .products .item .thumbnail > .product_sharer > div {margin-right: 5px !important; display: inline-block; vertical-align: middle !important;}
.GroupList .skin_module .products .item .thumbnail > .product_sharer > div a {display: block;}
.GroupList .skin_module .products .item .thumbnail > .product_sharer > div a img {width: 20px;}
.GroupList .skin_module .products .item .thumbnail > .product_sharer > div.line-share-button {display: none;}
/*天數*/
.GroupList .skin_module .products .item .thumbnail > div.product_days {float: left; width: 41%; padding: 5px;}
.GroupList .skin_module .products .item .thumbnail > div.product_days:before {content: '旅遊天數：';}
/*出發日期*/
.GroupList .skin_module .products .item .thumbnail > div.product_date {float: left; width: 59%; padding: 5px;}
.GroupList .skin_module .products .item .thumbnail > div.product_date:before {content: '出發日期：';}
/*個團代碼*/
.GroupList skin_module .products .item .thumbnail > div.product_num {float: left; width: 100%; padding: 5px;}
.GroupList .skin_module .products .item .thumbnail > div.product_num:before {content: '個團團號：';}
/*航班*/
.GroupList .skin_module .products .item .thumbnail > div.product_info {float: left; width: 33.33%; padding: 5px;}
.GroupList .skin_module .products .item .thumbnail > div.product_info a {cursor: pointer;}
/*售價*/
.GroupList .skin_module .products .item .thumbnail > div.product_price {position: absolute; right: 15px; bottom: 100px;}
.GroupList .skin_module .products .item .thumbnail > div.product_price span {width: 100%; text-align: right; float: left;}
.GroupList .skin_module .products .item .thumbnail > div.product_price span  strong{color: #F00; font-size: 20px; font-weight: bold;}
/*機位*/
.GroupList .skin_module .products .item .thumbnail > div.product_total {float: left; width: 33.33%; padding: 5px;}
/*可售*/
.GroupList .skin_module .products .item .thumbnail > div.product_available {float: left; width: 33.33%; padding: 5px 5px 10px;}
/*報名*/
.GroupList .skin_module .products .item .thumbnail > div.product_btn {text-align: center; margin: 60px 0 0; padding: 25px 0; width: 100%; float: left; position: relative;}
.GroupList .skin_module .products .item .thumbnail > div.product_btn a {padding: 6px 50px;}
.GroupList .skin_module .products .item .thumbnail > div.product_btn .product_order_info {position: absolute; top: 0; left: 0; width: 100%;}
.GroupList .skin_module .products .item .thumbnail > div.product_btn .product_order_info h6 {float: left; margin: 0 0 5px 0; width: 33.33%;}
.GroupList .skin_module .products .item .thumbnail > div.product_btn a.btn-info,
.GroupList .skin_module .products .item .thumbnail > div.product_btn a.btn-danger {cursor: not-allowed;}
/*促銷*/
.GroupList .skin_module .products .item .thumbnail > div.product_remarks {width: 100%;padding: 5px;float: left;font-size: 13px;height: 28px;position: absolute;bottom: 0;left: 5px;}

/** 個團列表 END **/


/****** 團型列表 MGroupList ******/
/** 團型列表 START **/
/*類型*/
.MGroupList .skin_list .products .product_title > div.product_type {width: 4%;}
/*產品名稱*/
.MGroupList .skin_list .products .product_title > div.product_name {width: 45%;}
/*天數*/
.MGroupList .skin_list .products .product_title > div.product_days {width: 4%;}
/*出發日期*/
.MGroupList .skin_list .products .product_title > div.product_date {width: 29%;}
/*團型代碼
.MGroupList .skin_list .products .product_title > div.product_num {width: 10%;}*/
/*航班*/
.MGroupList .skin_list .products .product_title > div.product_info {width: 5%;}
/*售價*/
.MGroupList .skin_list .products .product_title > div.product_price {width: 13%; border: none;}

.MGroupList .skin_list .products .product {border-bottom: 1px solid #e1e1e1;}
.MGroupList .skin_list .products .product_item .thumbnail {border: none;}
.MGroupList .skin_list .products .product_item:nth-iast-child(1) {border-bottom: none;}
/*產品內文大框架*/
.MGroupList .skin_list .product_item {position: inherit !important;}
/* 列表內文 */
.MGroupList .skin_list .product_item .thumbnail {display: table; width: 100%; border-radius: 0; margin: 0; padding: 0; position: relative;}
.MGroupList .skin_list .product_item:nth-child(odd) .thumbnail {background: #f9f8f8;}
.MGroupList .skin_list .product_item .thumbnail:hover {background:#f5f4f4;}
.MGroupList .skin_list .product_item .thumbnail > div {display: inline-block; text-align: center; vertical-align: middle; padding: 10px 0 20px;}
/*圖片*/
.MGroupList .skin_list .product_item .thumbnail > div.product_img img {display: none;}
/*類型*/
.MGroupList .skin_list .product_item .thumbnail > div.product_type {width: 4%;}
.MGroupList .skin_list .product_item .thumbnail > div.product_type span {background: #a59681; border-radius: 4px; width: 25px; height: 25px; margin: 0 auto; display: table; text-align: center; line-height: 25px; font-size: 15px; color: #FFF;}
/*產品名稱*/
.MGroupList .skin_list .product_item .thumbnail > div.product_name {width: 45%; text-align: left; padding-left: 10px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_name a {color: #333; font-size: 16px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_name a span {float: left; margin: 5px 5px 0 0;}
.MGroupList .skin_list .product_item .thumbnail > div.product_name a span.product_concessions {width: 70%; color: #F00; font-size: 14px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_name a span.product_num {width: 100%; color: #666; font-size: 14px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_name a div.product_tag {width: 100%; margin: 0;}
/*分享*/
.MGroupList .skin_list .product_item .thumbnail > .product_sharer {display: table; text-align: left; padding: 0px; position: absolute; z-index: 10; bottom: 6px; left: 450px;}
.MGroupList .skin_list .product_item .thumbnail > .product_sharer > li { margin-right: 5px !important;display: inline-block; vertical-align: middle !important;}
.MGroupList .skin_list .product_item .thumbnail > .product_sharer > div a {display: block;}
.MGroupList .skin_list .product_item .thumbnail > .product_sharer > div a img {width: 20px;}
.MGroupList .skin_list .product_item .thumbnail > .product_sharer > div.line-share-button {display: none;}
/*天數*/
.MGroupList .skin_list .product_item .thumbnail > div.product_days {width: 4%;}
/*出發日期*/
.MGroupList .skin_list .product_item .thumbnail > div.product_date {width: 29%; text-align: left; position: relative;}
.MGroupList .skin_list .product_item .thumbnail > div.product_date a {float: left; color: #333; font-size: 14px; padding: 6px 10px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_date a.more {color: #fff; background-color: #f0ad4e; border-color: #eea236; position: absolute; right: 0; bottom: 0;}
.MGroupList .skin_list .product_item .thumbnail > div.product_date a.more:hover {background-color: #ec971f; border-color: #d58512;}
/*團型代碼
.MGroupList .skin_list .product_item .thumbnail > div.product_num {width: 10%;}*/
/*航班*/
.MGroupList .skin_list .product_item .thumbnail > div.product_info {width: 5%;}
.MGroupList .skin_list .product_item .thumbnail > div.product_info a {cursor: pointer; font-size: 20px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_info a span {display: none;}
/*售價*/
.MGroupList .skin_list .product_item .thumbnail > div.product_price {width: 13%; text-align: right; padding-right: 10px;}
.MGroupList .skin_list .product_item .thumbnail > div.product_price span {width: 100%; text-align: right; float: right;}
.MGroupList .skin_list .product_item .thumbnail > div.product_price span strong{color: #F00; font-size: 20px; font-weight: bold;}


/* 圖片模式 */
.MGroupList .skin_module {margin: 20px 0;}
.MGroupList .skin_module .products {padding: 0 5px;}
.MGroupList .skin_module .products .product_title {display: none;}

.MGroupList .skin_module .products .item {width: 25%; padding: 0 10px; float: left;}
.MGroupList .skin_module .products .item .thumbnail {position: relative; display: inline-block;}
/*圖片*/
.MGroupList .skin_module .products .item .thumbnail .product_img {}
.MGroupList .skin_module .products .item .thumbnail .product_img img {display: block; margin-bottom: -25px; width: 100%;}
/*類型*/
.MGroupList .skin_module .products .item .thumbnail > div.product_type {position: absolute; top: 10px; left: 10px; z-index: 10;}
.MGroupList .skin_module .products .item .thumbnail > div.product_type span {background: #a59681; border-radius: 4px; width: 25px; height: 25px; display: table; text-align: center; line-height: 25px; font-size: 15px; color: #FFF;}
/*產品名稱*/
.MGroupList .skin_module .products .item .thumbnail > div.product_name {text-align: justify; padding: 35px 5px 5px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_name a {color: #333; font-size: 16px;}
.skin_module .products .item .thumbnail > div.product_name a span {float: left; margin: 5px 5px 0 0; font-size: 13px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_name a span.product_concessions {width: 100%; color: #F00; font-size: 14px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_name a span.product_num {width: 25%; color: #999; font-size: 13px; float: inherit;}
.MGroupList .skin_module .products .item .thumbnail > div.product_name a div.product_tag {margin: 0; display: table; position: absolute; top: 5px; right: 5px;}
/*分享*/
.MGroupList .skin_module .products .item .thumbnail > .product_sharer {width: 100%; display: table; text-align: left; padding: 10px; right: 0; position: initial;}
.MGroupList .skin_module .products .item .thumbnail > .product_sharer > div {margin-right: 5px !important; display: inline-block; vertical-align: middle !important;}
.MGroupList .skin_module .products .item .thumbnail > .product_sharer > div a {display: block;}
.MGroupList .skin_module .products .item .thumbnail > .product_sharer > div a img {width: 20px;}
.MGroupList .skin_module .products .item .thumbnail > .product_sharer > div.line-share-button {display: none;}
.MGroupList .skin_module .products .item .thumbnail > .product_sharer.fixed-action-btn.horizontal ul {top: 52%;}
/*天數*/
.MGroupList .skin_module .products .item .thumbnail > div.product_days {float: left; width: 45%; padding: 5px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_days:before {content: '旅遊天數：';}
/*出發日期*/
.MGroupList .skin_module .products .item .thumbnail > div.product_date {float: left; width: 100%; padding: 5px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_date:before {content: '出發日期：'; width: 100%; display: block; padding: 10px 0;}
.MGroupList .skin_module .products .item .thumbnail > div.product_date a {color: #333; font-size: 14px; padding: 10px; float: left;}
.MGroupList .skin_module .products .item .thumbnail > div.product_date a.more {color: #fff; background-color: #f0ad4e; border-color: #eea236; width: 100%; text-align: center;}
.MGroupList .skin_module .products .item .thumbnail > div.product_date a.more:hover {background-color: #ec971f; border-color: #d58512;}
/*團型代碼*/
.MGroupList skin_module .products .item .thumbnail > div.product_num {float: left; width: 100%; padding: 5px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_num:before {content: '個團團號：';}
/*航班*/
.MGroupList .skin_module .products .item .thumbnail > div.product_info {float: left; width: 40%; padding: 10px; line-height: 35px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_info a {cursor: pointer;}
.MGroupList .skin_module .products .item .thumbnail > div.product_info a:after {content:'參考';}
/*售價*/
.MGroupList .skin_module .products .item .thumbnail > div.product_price {width: 60%; float: left; padding: 10px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_price span {width: 100%; text-align: right; float: left;}
.MGroupList .skin_module .products .item .thumbnail > div.product_price span  strong{color: #F00; font-size: 20px; font-weight: bold;}
/*報名*/
.MGroupList .skin_module .products .item .thumbnail > div.product_btn {text-align: center; margin: 60px 0 0; padding: 25px 0; width: 100%; float: left; position: relative;}
.MGroupList .skin_module .products .item .thumbnail > div.product_btn a {padding: 6px 50px;}
.MGroupList .skin_module .products .item .thumbnail > div.product_btn .product_order_info {position: absolute; top: 0; left: 0; width: 100%;}
.MGroupList .skin_module .products .item .thumbnail > div.product_btn .product_order_info h6 {float: left; margin: 0 0 5px 0; width: 33.33%;}

/** 團型列表 END **/


/** 分享按鈕收合+動態效果 **/
.fixed-action-btn {position: absolute; right: 23px; bottom: 23px; padding-top: 15px; margin-bottom: 0;}
.fixed-action-btn.active {z-index: 98;}
.fixed-action-btn.horizontal {padding: 0 0 0 15px;}
.btn-floating {display: inline-block; color: #fff; position: relative; overflow: hidden; z-index: 1; width: 30px; height: 30px; line-height: 30px; padding: 0; background-color: #26a69a; border-radius: 50%; transition: .3s; cursor: pointer; vertical-align: middle;}
.btn-large {height: 54px; line-height: 54px;}
.btn-floating.btn-large {width: 30px; height: 30px;}
.skin_module .btn-floating.btn-large {float: right;}
.material-icons {text-rendering: optimizeLegibility; -webkit-font-feature-settings: 'liga'; -moz-font-feature-settings: 'liga'; font-feature-settings: 'liga';}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {font-size: 1.3rem; line-height: inherit;}
.btn-floating i {width: inherit; display: inline-block; text-align: center; color: #fff; font-size: 1.6rem; line-height: 40px;}
.btn-floating.btn-large i {line-height: 30px;}
ul:not(.browser-default) {padding-left: 0; list-style-type: none;}
.fixed-action-btn ul {left: 0; right: 0; text-align: center; position: absolute; bottom: 64px; margin: 0; visibility: hidden;}
.fixed-action-btn.active ul {visibility: visible;}
.fixed-action-btn.horizontal ul {text-align: right; right: 50px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); height: 100%; left: auto; display: table; width: 100px; height: 30px;}
.fixed-action-btn.horizontal ul li {display: inline-block; margin: 0 10px 0 0; width: 24px; height: 24px;}
.btn-floating {display: inline-block; color: #fff; position: relative; overflow: hidden; z-index: 1; width: 30px; height: 30px; line-height: 30px; padding: 0; background-color: #26a69a; border-radius: 50%; transition: .3s; cursor: pointer; vertical-align: middle;}
.btn-floating.line_icon {background-color: #00b900; text-align: center;}
.btn-floating.fb_icon {background-color: #3b5998;}
.fixed-action-btn ul a.btn-floating {opacity: 0;}
.btn-floating i {width: inherit; display: inline-block; text-align: center; color: #fff; line-height: 30px; font: normal normal normal 14px/1 FontAwesome;}


/** 列表頁下方的分頁按鈕及載入更多按鈕 **/
.skin_list .loading {display: none;}
.skin_list .pagination {margin: 20px auto 0; display: table;}
.skin_module .loading {margin: 20px auto 0; display: none; width: 50%; text-shadow: 0 1px 0 #fff; background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%); background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%); background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0)); background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.skin_module .pagination {margin: 20px auto 0; display: table;}





/** 航班參考彈出窗 **/
.flight_box {border: 1px solid #e1e1e1;}
.flight_box .flight_title {background-color: #f7efe3;}
.flight_box ul {width: 100%; display: table; border-bottom: 1px solid #e1e1e1;}
.flight_box ul:nth-last-child(1) {border-bottom: none;}
.flight_box ul li {float: left; width: 16%;line-height:35px; text-align: center; padding: 6px 10px; font-size: 14px;}
.flight_box ul li:nth-child(1) {width: 4%; text-align: center;}
.flight_box .flight_content:nth-child(odd) {background: #f9f8f8;}


/************************************************************************************/

/****** 個團明細頁 ******/
/** 團名 **/
.product_details h3 {margin: 20ox 0 0; line-height: 34px; font-size: 30px;margin-top: 80px;}
.product_details .number_status {margin: 5px 0 20px;}
.product_details .number_status i {margin-right: 5px;}
.product_details .number_status .label-tag {margin-right: 5px; padding: .2em .6em .2em;}

/** 產品基本資料 **/
.product_details .product_basic_info {width: 100%; display: table; margin-top: 20px; border-top: 1px solid #e1e1e1; padding-top: 20px; position: relative; margin-bottom: 50px;}
.product_details .product_basic_info ul {width: 100%; display: table;}
.product_details .product_basic_info ul li {float: left; line-height: 34px; padding: 0;}
.product_details .product_basic_info ul li.basic_info_title label {margin: 0;}
.product_details .product_basic_info ul li.basic_info_title {font-size: 15px; font-weight: bold;width:130px;display:table;}
.product_details .product_basic_info ul li.basic_info_title i {margin-right: 5px;}
.product_details .product_basic_info ul li.departure_date {color: #F00; font-size: 25px; font-weight: bold;}
/*.product_details .product_basic_info ul li.return_date {width: 20%;}*/
.product_details .product_basic_info ul li.deadline {color: #F00; font-size: 18px; font-weight: bold;}
.product_details .product_basic_info ul li.deadline a {float: right;}
.product_details .product_basic_info ul li span {font-size: 16px; font-weight: bold;}
.product_details .product_basic_info ul li.price_content {width: inherit; padding: 10px 0;}
.product_details .product_basic_info ul li .panel {float: left; text-align: center; margin-right: 10px; min-width: 130px; margin-bottom: 0;}
.product_details .product_basic_info ul li .panel .panel-heading {font-weight: bold;}
.product_details .product_basic_info ul li .panel .panel-body {font-size: 0;}
.product_details .product_basic_info ul li .panel .panel-body span {font-size: 16px;}
.product_details .product_basic_info ul li.sign_up_group {/*position: absolute; right: 0; width: initial; top: 10px;*/text-align: right; margin-top: -10px;}
.product_details .product_basic_info ul li.sign_up_group i {margin-right: 5px; font-size: inherit;}
.product_details .product_basic_info ul li.sign_up_group a span {margin-left: 5px; font-weight: 100;}

.product_details .product_basic_info ul li.sign_up_group a.cutoff,
.product_details .product_basic_info ul li.sign_up_group a.callme,
.product_details .product_basic_info ul li.sign_up_group a.full {cursor: not-allowed;}

.product_details .product_basic_info ul:nth-child(3)>li:nth-last-child(1) {width:500px;}

.navbar-default {position: relative;}
.navbar-default #cart {z-index: 98; width: 1170px; top: 0; position: absolute; margin: 0 auto; background: #717171; color: #FFF; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.navbar-default #cart .navbar-nav > li > a {color: #FFF; font-size: 16px; line-height: 50px; padding: 0 15px;}
.navbar-default #cart .navbar-nav > li.active > a {color: #FF0040;}
.navbar-default #cart .navbar-nav > li > a:hover {color: #FF0040;}

#carousel-example-generic {margin-top: 50px;}

.navbar-default #cart .navbar-other {float: right; display: table; overflow: hidden;}
.navbar-default #cart .navbar-other li {float: left; line-height: 50px; margin: 0 5px;}
.navbar-default #cart .navbar-other li img {display: block; max-width: 100%; height: auto;}
.navbar-default #cart .navbar-other li a.customer_service {background: #9c27b0; color: #FFF; border: 1px solid #9313aa; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
.navbar-default #cart .navbar-other li a.customer_service:hover,
.navbar-default #cart .navbar-other li a.customer_service:focus,
.navbar-default #cart .navbar-other li a.customer_service.focus,
.navbar-default #cart .navbar-other li a.customer_service:active,
.navbar-default #cart .navbar-other li a.customer_service.active {background: #811794; border: 1px solid #77068b; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
.navbar-default #cart .navbar-other li a.customer_service span {width: inherit; display: inline-block; text-align: center; color: #fff; margin-right: 5px;}
.navbar-default #cart .navbar-other li a.download_info {background: #df0808; color: #FFF;}

.navbar-default #cart .navbar-other li:nth-last-child(1) {width: 0; position: relative; -webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;}
.navbar-default #cart .navbar-other li:nth-last-child(1) a {opacity: 0; position: absolute; top: -10px; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) {width: 0; position: relative; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a {opacity: 0; position: absolute; top: -10px; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.onnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) {display: block;width: 82px; position: relative; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.onnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a {display: block; opacity: 1; width: 82px;position: absolute; top: 8px; -webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;transition:all 0.3s ease-in-out;}
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) {display: block; width: 82px; position: relative; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a {display: block;opacity: 1; width: 82px; position: absolute; top: 8px; -webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;}
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a.cutoff,
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a.callme,
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a.full {cursor: not-allowed;}
.onnavbar.offnavbar.navbar-default #cart .navbar-other li:nth-last-child(1) a span {margin-left: 5px; font-weight: 100;}

.Other_features_box{width:100%;}
.Other_features_box input{}
.Other_features_box label{cursor:pointer;display:table; float: left; margin-right: 10px;}
.Other_features_box .clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.Other_features_box .SELECTION{width:100%; height:50px;float: left;margin:10px 0;font-size:14px; color:#333;}
.Other_features_box .SELECTION p{width:80px; float:left;}
.Other_features_box .SELECTION ul{width:720px;height:25px;float:left;margin:0;padding:0;}
.Other_features_box .SELECTION ul li{float:left;line-height:25px;margin-right:10px;list-style:none;}
.Other_features_box .Print_Fonts{width:100%;height:25px;float: left;margin:10px 0;font-size:14px; color:#333;}
.Other_features_box .Print_Fonts p{width:80px;line-height:25px; float:left;margin:0;padding:0;}
.Other_features_box .Print_Fonts ul{width:720px;height:25px;float:left;margin:0;padding:0;}
.Other_features_box .Print_Fonts ul li{float:left;line-height:25px;margin-right:10px;list-style:none;}
.Other_features_box .Picture_Show{width:400px;height:25px;float: left;margin:10px 0;font-size:14px; color:#333;}
.Other_features_box .Picture_Show p{width:80px;line-height:25px; float:left;margin:0;padding:0;}
.Other_features_box .Picture_Show ul{width:320px;height:25px;float:left;margin:0;padding:0;}
.Other_features_box .Picture_Show ul li{float:left;line-height:25px;margin-right:10px;list-style:none;}
.Other_features_box .Function_Buttons{display: table; margin:10px auto; padding:0;}
.Other_features_box .Function_Buttons ul { float:right;margin:0;padding:0;}
.Other_features_box .Function_Buttons li { float:left;line-height: 25px; margin-left:10px;list-style:none;}
.Other_features_box .Function_Buttons a { float:left; display:block;  padding:10px 20px; font-size:20px;  text-decoration:none; }
.Other_features_box .Function_Buttons a:hover {}
.Other_features_box .Function_Buttons i {font-size: inherit; display:inline-block;}
.Other_features_box .Function_icon_email { width:16px; height:16px; background-position: 0 -59px; }
.Other_features_box .Function_icon_download { width:17px; height:19px; background-position:0 -120px; }
.Other_features_box .Function_icon_print { width:16px; height:18px; background-position:0 -179px; }
.Other_features_box .Function_icon_preview { width:16px; height:18px; background-position:0 -440px; }
.Other_features_box .Data_Sent{width:100%; float: left;margin:10px 0;font-size:14px; color:#333;border-top:1px solid #e5e5e5; padding-top:20px;}
.Other_features_box .Data_Sent a {color: #333;}
.Other_features_box .Data_Sent a i {margin-right: 5px; font-size: 18px; vertical-align: middle;}
.Other_features_box .Data_Sent a:hover {color: #f60;}
.Other_features_box .Data_Sent ul{width: 100%; display: table; margin:0;padding:0; border: 1px solid #e5e5e5;background: #f7efe4;}
.Other_features_box .Data_Sent ul li{line-height: 34px; text-align: right; background: #FFF; padding: 10px; border-bottom: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;}
.Other_features_box .Data_Sent ul li img{ vertical-align:middle;}
.Other_features_box .Data_Sent ul li .Sender{}
.Other_features_box .Data_Sent ul li .Email_Address{}
.Other_features_box .Data_Sent ul li .Captcha{}
.Other_features_box .submit_btn{}
.Other_features_box .Show_Content{width:720px; height:300px; margin:15px auto; border:1px solid #808080;}

#mydownload .modal-header .close {font-size: 30px;}
#mydownload .modal-body .Data_Sent p {font-size: 16px; padding: 10px 20px 30px;}
#mydownload .modal-body ul.address li {}
#mydownload .modal-body ul.message {border-top: none;}
#mydownload .modal-body ul.message li {line-height: 34px; border-bottom: none;}    
#mydownload .modal-footer ul li {line-height: 34px;}
#mydownload .modal-body ul li:nth-child(odd) {background: #f7efe4; position: relative; border-right: none;}
#mydownload .modal-body ul li:nth-child(odd) span {position: absolute; min-height: 101%;}
#mydownload .modal-body ul li:nth-last-child(1) {background: #FFF; border: none;}

#mycontact .modal-header .close {font-size: 30px;}
#mycontact .modal-body {display: table;}
#mycontact .modal-body ul {border: 1px solid #e5e5e5;background: #f7efe4;width: 100%; display: table;}
#mycontact .modal-body ul li {border-bottom: 1px solid #e5e5e5;}
#mycontact .modal-body ul li:nth-child(even) {background: #FFF;}
#mycontact .modal-body ul li:nth-child(even) {position: relative;border-right: none;border-left: 1px solid #e5e5e5;}
#mycontact .modal-body ul.contact_content li:nth-child(3) {border-left: 1px solid #e5e5e5;}
#mycontact .modal-body ul.contact_content li:nth-last-child(2) {background: #FFF; border: none;}
#mycontact .modal-body ul.contact_content li:nth-last-child(1) {border: none;}
#mycontact .modal-body ul.contact_content li:nth-last-child(3) {border-bottom: none;}
#mycontact .modal-body ul.contact_content li:nth-last-child(4) {border-bottom: none;}
#mycontact .modal-body ul.contact_content li {text-align: right;line-height: 34px;padding: 10px;}
#mycontact .modal-body ul.contact_content li i {color: #F00; margin-right: 5px;}
#mycontact .modal-body p {font-size: 16px; width: 100%; display: table; line-height: 34px; padding: 10px 20px 30px;}
#mycontact .modal-body p span {font-weight: bold;}
#mycontact .modal-body ul.message {border-top: none;}
#mycontact .modal-body ul.message li {line-height: 34px;text-align: right;border: none;padding: 10px;}
#mycontact .modal-body ul.message li:nth-last-child(1) {border-left: 1px solid #e5e5e5;}
#mycontact .modal-footer ul li {line-height: 34px;}

/** 優惠方案 **/
.product_details .Concessions {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .Concessions > h4 i {margin-right: 5px;}
.product_details .Concessions .concessions_content {width: 100%; display: table; border: 1px solid #e1e1e1; padding: 20px;}
.product_details .Concessions .concessions_content p {line-height: 25px;}
.product_details .Concessions .concessions_content img {width: 100%;}

/** 行程特色 **/
.product_details .TravelCharacteristics {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .TravelCharacteristics table {width: 100% !important;}
.product_details .TravelCharacteristics table img {width: 100%;height: initial;}
.product_details .TravelCharacteristics > h4 i {margin-right: 5px;}
.product_details .TravelCharacteristics ul li img {width: 100%;}
/** 航班參考 **/
.product_details .ReferenceFlights {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .ReferenceFlights > h4 i {margin-right: 5px;}
.product_details .ReferenceFlights .flight_box {width: 100%; margin-top: 10px; border: 1px solid #e1e1e1;}
.product_details .ReferenceFlights .flight_box .flight_title {background-color: #f7efe3;}
.product_details .ReferenceFlights .flight_box ul {width: 100%; display: table; border-bottom: 1px solid #e1e1e1;}
.product_details .ReferenceFlights .flight_box ul:nth-last-child(1) {border-bottom: none;}
.product_details .ReferenceFlights .flight_box ul li {float: left; width: 16%;line-height:35px; text-align: center; padding: 6px 10px; font-size: 14px;}
.product_details .ReferenceFlights .flight_box ul li:nth-child(1) {width: 6%; text-align: center;}
.product_details .ReferenceFlights .flight_box ul li:nth-child(3) {width: 14%;}
.product_details .ReferenceFlights .flight_box .flight_content:nth-child(odd) {background: #f9f8f8;}
/** 每日行程 **/
.product_details .DailyItinerary {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .DailyItinerary > h4 {position: relative;}
.product_details .DailyItinerary > h4 a.dark_pile_btn {position: absolute; right: 0; bottom: 0;}
.product_details .DailyItinerary > h4 a.dark_pile_btn::before {content: "\f067"; margin-right: 5px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.product_details .DailyItinerary > h4 a.dark_pile_btn::after {content: '全部展開';}
.product_details .DailyItinerary > h4 a.dark_pile_btn.active::before {content: "\f068"; margin-right: 5px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.product_details .DailyItinerary > h4 a.dark_pile_btn.active::after {content: '全部收合';}
.product_details .DailyItinerary > h4 i {margin-right: 5px;}
.product_details .DailyItinerary .every_day {width: 100%; display: table; border: 1px solid #e1e1e1; padding: 10px; margin-bottom: 20px; position: relative;}
.product_details .DailyItinerary .every_day .day_title {margin: 0; padding: 0;}
.product_details .DailyItinerary .every_day .day_title h4::before {content: attr(data-toggle);}
.product_details .DailyItinerary .every_day .day_title h4 {line-height: 34px; position: relative; margin: 0; padding: 6px 12px;}

/*第x天-圓形*/
.product_details .DailyItinerary .every_day .day_title h4.day_title_left {vertical-align: middle; display: table-cell; float: initial;}
.product_details .DailyItinerary .every_day .day_title h4.day_title_left .tw_day {background: #ff3573; color: #FFF; text-align: center; width: 94px;height: 94px;border-radius: 50%;line-height: 94px;padding: 0; margin: 0 auto; float: left;}
.product_details .DailyItinerary .every_day .day_title h4.day_title_right {vertical-align: middle; display: table-cell; float: initial;}/**/

/*第x天-方形*/
/*.product_details .DailyItinerary .every_day .day_title h4.day_title_left {min-width: 94px; background: #ff3573; color: #FFF; text-align: center; padding: 0; margin: 0 auto; vertical-align: middle; display: table-cell; float: initial;}
.product_details .DailyItinerary .every_day .day_title h4.day_title_right {vertical-align: middle; display: table-cell; float: initial;}*/

/*第x天-圓形-Dx英文標籤式*/
.product_details .DailyItinerary .every_day .day_title h4 span.en_day {display: none; width: 34px; height: 34px; text-align: center; line-height: 34px; color: #fff; background-color: #ff3573; font-size: 16px; border-radius: 50%; font-weight: 300; margin-right: 10px; position: absolute; left: -50px;}

/*每日行程-內容*/
.product_details .DailyItinerary .every_day .day_content {margin: 10px 0; border-bottom: 1px dashed #e1e1e1; border-top: 1px dashed #e1e1e1; padding: 10px;}
.product_details .DailyItinerary .every_day .day_content p {font-size: 16px; color: #333; line-height: 25px; padding: 10px 0; margin: 0; text-align: justify;}
.product_details .DailyItinerary .every_day .day_content .day_style_1 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_1 img {width:100%; height: 380px;}
.product_details .DailyItinerary .every_day .day_content .day_style_2 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_2 img {width:100%; height: 380px;}
.product_details .DailyItinerary .every_day .day_content .day_style_3 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_3 img {width:100%; height: 250px;}
.product_details .DailyItinerary .every_day .day_content .day_style_4 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_4 img {width:100%; height: 180px;}
.product_details .DailyItinerary .every_day .day_content .day_style_5 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_5 img {width:100%; height: 250px;}
.product_details .DailyItinerary .every_day .day_content .day_style_6 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_6 img {width:100%; height: 180px;}
.product_details .DailyItinerary .every_day .day_content .day_style_7 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_7 img {width:100%; height: 250px;}
.product_details .DailyItinerary .every_day .day_content .day_style_8 {width: 100%; display: table; margin-bottom: 20px;}
.product_details .DailyItinerary .every_day .day_content .day_style_8 img {width:100%; height: 180px;}
.product_details .DailyItinerary .every_day .day_content > p > img {width: 100%;}

/*每日行程-餐食*/
.product_details .DailyItinerary .every_day .day_meal {}
.product_details .DailyItinerary .every_day .day_meal i {width: 50px; height: 50px; line-height: 50px; margin-right: 10px; border-radius: 50%; border: 2px solid #333; color: #333; font-size: 25px; text-align: center; float: left;}
.product_details .DailyItinerary .every_day .day_meal .meal_content {float: left; width: 85%;}
.product_details .DailyItinerary .every_day .day_meal .meal_content .dl-horizontal {margin-bottom: 0px;}
.product_details .DailyItinerary .every_day .day_meal .meal_content .dl-horizontal dt {width: inherit; color: #333; font-size: 16px; line-height: 22px; margin-left: 0;}
.product_details .DailyItinerary .every_day .day_meal .meal_content .dl-horizontal dd {color: #333; font-size: 16px; line-height: 22px; margin-left: 50px;}
.product_details .DailyItinerary .every_day .day_meal ul {color: #333; font-size: 16px; line-height: 22px; vertical-align: middle; display: table-cell;}

/*每日行程-住宿*/
.product_details .DailyItinerary .every_day .day_hotel {}
.product_details .DailyItinerary .every_day .day_hotel i {width: 50px; height: 50px; line-height: 50px; margin-right: 10px; border-radius: 50%; border: 2px solid #333; color: #333; font-size: 25px; text-align: center; float: left;}
.product_details .DailyItinerary .every_day .day_hotel p {color: #333; font-size: 16px; line-height: 22px; vertical-align: middle; display: table-cell;}


/** 自費活動 **/
.product_details .AtTheirOwnExpense {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .AtTheirOwnExpense > h4 i {margin-right: 5px;}
.product_details .AtTheirOwnExpense .panel-group .panel-default > .panel-heading {padding: 0;}
.product_details .AtTheirOwnExpense .panel-group h4 {background: #e6dcd0; position: relative; padding: 10px 15px;}
.product_details .AtTheirOwnExpense .panel-group h4 > span.label {position: absolute; top: 10px; margin-left: 10px;}
.product_details .AtTheirOwnExpense .panel-group h4 div {position: absolute;top: 0;z-index: 1;margin: 0;text-align: right;right: 50px;padding: 8px 0;display: table;}
.product_details .AtTheirOwnExpense .panel-group h4 div p {float: left;width: 150px;text-align: left;position: relative;margin: 0;margin-right: 30px;}
.product_details .AtTheirOwnExpense .panel-group h4 div span {color: #F00;font-weight: bold;position: absolute;right: 0;top: 0;}
.product_details .AtTheirOwnExpense .panel-group h4 > a {display: block; padding: 10px 15px; position: absolute; z-index: 2; right: 0; top: 0;}
.product_details .AtTheirOwnExpense .panel-group h4 > a::after {content: "\f057"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .AtTheirOwnExpense .panel-group h4 > a.collapsed::after {content: "\f05a"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .AtTheirOwnExpense .panel-group .panel-default .panel-body .dl-horizontal {position: relative;}
.product_details .AtTheirOwnExpense .panel-group .panel-default .panel-body .dl-horizontal dt {width: 80px;}
.product_details .AtTheirOwnExpense .panel-group .panel-default .panel-body .dl-horizontal dd {margin-left: 100px; text-align: justify;}
.product_details .AtTheirOwnExpense .panel-group .panel-default .panel-body .dl-horizontal img {position: absolute; top: 0; right: 0;}

/** 附加項目 **/
.product_details .Additional {width: 100%; display: table; padding: 20px 10px 20px;}
.product_details .Additional > h4 i {margin-right: 5px;}
.product_details .Additional .panel-group .panel-default > .panel-heading {padding: 0;}
.product_details .Additional .panel-group h4 {background: #e6dcd0; position: relative; padding: 10px 15px;}
.product_details .Additional .panel-group h4 > span.label_group {position: absolute; top: 9px; margin-left: 10px;}
.product_details .Additional .panel-group h4 > span.label_group span.label {margin-right: 10px; padding: .3em .6em;}
.product_details .Additional .panel-group h4 div {position: absolute;top: 0;z-index: 1;margin: 0;text-align: right;right: 50px;padding: 8px 0;display: table;}
.product_details .Additional .panel-group h4 div p {float: left;width: 100px;text-align: left;position: relative;margin: 0;margin-right: 30px;}
.product_details .Additional .panel-group h4 div span {color: #F00;font-weight: bold;position: absolute;right: 0;top: 0;}
.product_details .Additional .panel-group h4 > a {display: block; padding: 10px 15px; position: absolute; z-index: 2; right: 0; top: 0;}
.product_details .Additional .panel-group h4 > a::after {content: "\f057"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .Additional .panel-group h4 > a.collapsed::after {content: "\f05a"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .Additional .panel-group .panel-default .panel-body .list-inline > li {}

/** 護照及簽證 **/
.product_details .Passport_Visa {width: 100%; display: table; padding: 20px 10px 20px;}
.product_details .Passport_Visa > h4 i {margin-right: 5px;}
.product_details .Passport_Visa .panel-group .panel-default > .panel-heading {padding: 0;}
.product_details .Passport_Visa .panel-group h4 {background: #e6dcd0; position: relative;}
.product_details .Passport_Visa .panel-group h4 div {position: absolute;top: 0;z-index: 1;margin: 0;text-align: right;right: 50px;padding: 8px 0;display: table;}
.product_details .Passport_Visa .panel-group h4 div p {float: left;width: 100px;text-align: left;position: relative;margin: 0;margin-right: 30px;}
.product_details .Passport_Visa .panel-group h4 div span {color: #F00;font-weight: bold;position: absolute;right: 0;top: 0;}
.product_details .Passport_Visa .panel-group h4 > a {display: block; padding: 10px 15px; position: relative; z-index: 2;}
.product_details .Passport_Visa .panel-group h4 > a span.label {position: absolute; top: 10px; margin-left: 10px;}
.product_details .Passport_Visa .panel-group h4 > a::after {content: "\f056"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .Passport_Visa .panel-group h4 > a.collapsed::after {content: "\f055"; color: #a59681; float: right; font: normal normal normal 26px/1 FontAwesome; line-height: 18px;}
.product_details .Passport_Visa .panel-group .panel-default .panel-body .list-inline > li {text-align: justify; margin-bottom: 10px;}


.Passport_Visa_box {border: 1px solid #e1e1e1;}
.Passport_Visa_box .Passport_Visa_title {background-color: #f7efe3;}
.Passport_Visa_box ul {width: 100%; display: table; border-bottom: 1px solid #e1e1e1;}
.Passport_Visa_box ul:nth-last-child(1) {border-bottom: none;}
.Passport_Visa_box ul li {float: left; width: 23%;line-height:35px; text-align: center; padding: 6px 10px; font-size: 14px;}
.Passport_Visa_box ul li:nth-last-child(1) {width: 8%; text-align: center;}
.Passport_Visa_box ul li:nth-last-child(1) a {color: #a59681; font-size: 26px;line-height: 26px; vertical-align: sub;}
.Passport_Visa_box .Passport_Visa_content:nth-child(odd) {background: #f9f8f8;}

/** 注意事項 **/
.product_details .OtherInstructions {width: 100%; display: table; padding: 120px 10px 20px;}
.product_details .OtherInstructions > h4 i {margin-right: 5px;}
.product_details .OtherInstructions .other_content {width: 100%; display: table; border: 1px solid #e1e1e1; padding: 20px;}
.product_details .OtherInstructions .other_content > ul > li {margin-bottom: 40px;}
.product_details .OtherInstructions .other_content > ul > li:nth-last-child(1) {margin-bottom: 0;}
.product_details .OtherInstructions .other_content > ul > li > p {text-align: justify; line-height: 25px; margin: 0;}
.product_details .OtherInstructions .other_content > ul > li > ul > li {line-height: 25px;}



/************************************************************************************/


.block {position: relative; margin: 0 auto; padding: 1.5em 1.25em; max-width: 60em;}

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("http://design.travelindex.com.tw/eWeb_design/images/svg/close-btn.png") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("http://design.travelindex.com.tw/eWeb_design/images/svg/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("http://design.travelindex.com.tw/eWeb_design/images/svg/nav-icon.png") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
  background-image: url("/eWeb_design/images/svg/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  /*background: #333333;*/
}
#nav .close-btn {
  display: none;
}
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
  background: #333333;
}
#nav ul {
  *zoom: 1;
  display: block;
}
#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
}
#nav li a {
  display: block;
  color: #ccc;
  font-size: 1.2em;
  line-height: 1.28571em;
  font-weight: 100;
  outline: none;
   -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;
}
#nav li a:focus, #nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
   -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;
}
#nav li.is-active a {
  color: #fff;
}

#top {
  z-index: 100;
  position: relative;
  color: #fff;
  background: #333333;
}
#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
  font-family: sans-serif;
  color:#ff0040;
  font-weight: bold;
}
#top .nav-btn {
  /*position: absolute;
  top: 1.5em;
  left: 1.875em;*/
}

#main {
  background: #fff;
}
#main .block {
  padding: 2.625em 1.875em;
}

footer[role="contentinfo"] {
  background: #ddd;
}

@media screen and (min-width: 45.0625em) {
  /*#top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }*/

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav ul {
    text-align: center;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0.42857em 0.85714em;
  }
}
@media screen and (max-width: 45em) {
  #nav {
    position: absolute;
    top: 0;
    /*padding-top: 5.25em;*/
  }
  #nav:not(:target) {
    z-index: 1;
    /*height: 0;*/
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  #nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
  }
  #nav li a {
    padding: 0.85714em 2.14286em;
  }

  .js-ready #nav {
    height: 100%;
    width: 70%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {display: block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7;}
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;}

  .js-ready #nav {left: -70%;}
  .js-ready #inner-wrap {left: 0;}

  .js-nav #inner-wrap {left: 70%;}

  .csstransforms3d.csstransitions.js-ready #nav {left: 0; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden;}
  .csstransforms3d.csstransitions.js-ready #inner-wrap {left: 0 !important; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 500ms ease; -moz-transition: -moz-transform 500ms ease; -o-transition: -o-transform 500ms ease; transition: transform 500ms ease; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden;}

  .csstransforms3d.csstransitions.js-nav #inner-wrap {-webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);}

  .csstransforms3d.csstransitions.js-ready #nav .block {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease; -webkit-transition-delay: ease, 0s; -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease; -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease; transition: opacity 300ms 100ms ease, transform 500ms ease; -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9); -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9); -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9); -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9); transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9); -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; transform-origin: 50% 0%;}

  .csstransforms3d.csstransitions.js-nav #nav .block {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
}
 div.loader{background-image:url(/eweb_cowellt1/images/loading.gif);}
.animationload {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; z-index: 999999;}
.loader {width: 200px; text-indent: -99999; height: 200px; font-size: 0; position: absolute; left: 50%; top: 50%; background-image: url(/eweb_cowellt1/images/loading.gif); background-repeat: no-repeat; background-position: center; margin: -100px 0 0 -100px; padding: 0 10px;}
.dmtop {background-color: #161616; background-image: url(/eweb_cowellt1/images/svg/arrow.png); background-position: 50% 50%; background-repeat: no-repeat; z-index: 9999; width: 40px; height: 40px; text-indent: -99999px; position: fixed; bottom: -100px; right: 25px; cursor: pointer; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all .7s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; overflow: auto; font-size: 0;}


/*條件及排序*/
.GO_sequence {background: #FFF; height: 75px;}
.GO_sequence > div {width: 50%; float: left;}
.GO_sequence > div.condition {width: :60%;}
.GO_sequence > div.theway {width: :40%;}
.GO_sequence > div.condition ul li {float:left; line-height: 75px; font-size: 2.4rem; color: #8fb223; }
.GO_sequence > div.condition ul li:after {content:'/'; margin: 0 5px;}
.GO_sequence > div.condition ul li:nth-child(1) {color: #3a3a3a; margin: 0 0 0 15px; height: 75px;}
.GO_sequence > div.condition ul li:nth-child(1):afterm, .GO_sequence > div.condition ul li:nth-last-child(1):after {content:normal;}
.GO_sequence > div.condition ul li:nth-child(1):before {content:url(/eweb_demo/images/icon_idx_right.png); margin: 0 5px 0 0; vertical-align: middle;}


.GO_sequence > div.theway .product_items {height: 40px; line-height: 40px; text-align: right; padding-right: 10px;}

.GO_sequence > div.theway ul {display: table; float: right; margin: 0 5px 0 0;}
.GO_sequence > div.theway ul li {float: left; margin: 0 5px;}
.GO_sequence > div.theway ul li input {vertical-align: middle; margin: 0; padding: 0;}
.GO_sequence > div.theway ul li label {margin: 0;}

.GO_product_list {background: #FFF;}

.css_td span.may_apply {color: #8fb323;}
.css_td span.candidate {color: #ff921e;}
.css_td span.cutoff {color: #ff1d24;}
.css_td span.callme {color: #39b549;}
.css_td span.full {color: #f05a23;}

/*分頁頁籤*/
.GO_pagination {background: #FFF; padding-bottom: 15px;}
.GO_pagination ul {display: table; margin: 0 auto;}
.GO_pagination ul li {float: left; height: 50px; line-height: 50px;}
.GO_pagination ul li a {width: 24px; height: 24px; border: 1px solid #e6ded3; background: #e6ded3; color: #666; padding: 0 6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0px 5px;}
.GO_pagination ul li:hover a:hover, .GO_pagination ul li a:hover {text-decoration:none;}
.GO_pagination ul li.active a { cursor: default;}
.GO_pagination ul li:nth-child(1) a, .GO_pagination ul li:nth-last-child(1) a {background: none; border: 0;}
/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
  Media Querie切換
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/



/** 訂購流程步驟一 **/
.Step_one_content h4 > i {background: #a7895f; width: 25px; height: 25px; vertical-align: text-top; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding-left: 2px; margin-right: 5px;}
.Step_one_content h4 > i:before {line-height: 24px; color: #FFF;}
.Step_one_content ul {border-bottom: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; background: #f7efe4;}
.Step_one_content ul li {border-top: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; background: #FFF;}

.order_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.order_information h4 > a {line-height: 24px; padding: 4px 12px; margin-left: 20px; letter-spacing: 3px;}
.order_information h4 > a > i {margin-right: 5px; font-size: 18px; vertical-align: middle;}
.order_information h4 span {font-weight:200; margin-left: 30px; font-size: 14px; color: #999;}

.order_information ul.order_information_content {width: 100%; display: table;}
.order_information ul.order_information_content li {line-height: 34px;padding: 10px;}
.order_information ul.order_information_content li i {color: #F00; margin-right: 5px;}
.order_information ul.order_information_content li.order_information_title {text-align: right; background: #f7efe4;}
.order_information ul.order_information_content li input.areacode {width: 38%; float: left; margin-right: 5px;}
.order_information ul.order_information_content li input.telephone {width: 38%; float: left; margin-right: 5px;}
.order_information ul.order_information_content li input.Extension {width: 21%; float: left;}
.order_information ul.order_information_content li.no_border {border-left: none;}
/*.order_information ul.order_information_content li:nth-last-child(4), .order_information ul.order_information_content li:nth-last-child(9), .order_information ul.order_information_content li:nth-last-child(10) {border-left: none;}
.order_information ul.order_information_content li:nth-last-child(5) {width: 10%;}
.order_information ul.order_information_content li:nth-last-child(3) {width: 8%; border-left: none;}
.order_information ul.order_information_content li:nth-last-child(2) {width: 14%;border-left: none;} 
.order_information ul.order_information_content li:nth-last-child(1) {width: 18%; font-size: 12px !important; padding: 10px 0; border-left: none;}
.order_information ul.order_information_content li:nth-child(3) {border-left: none;}*/
.order_information ul.order_information_content li label.radio-inline input {margin: 10px 0 0 -20px;}

.select_people {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.select_people ul.select_people_content {width: 100%; display: table;border-left: 1px solid #e1e1e1;}
.select_people ul.select_people_content li {line-height: 34px;padding: 10px; position: relative;}
.select_people ul.select_people_content li:nth-child(odd) {border: none;border-top: 1px solid #e1e1e1;}
.select_people ul.select_people_content li:nth-child(even) {border-left: 1px solid #e1e1e1;}
.select_people ul.select_people_content li:nth-child(1) {background: transparent;}
.select_people ul.select_people_content li:nth-child(2) {/*display: table; border-left: 1px solid #e1e1e1;*/}
.select_people ul.select_people_content li .product_name {display: table-cell; vertical-align: middle;}
.select_people ul.select_people_content li .period {margin-right: 20px; float: left;}
.select_people ul.select_people_content li .period .red {color: #F00;}
.select_people ul.select_people_content li .total_days {margin-right: 30px; float: left;}
.select_people ul.select_people_content li .cabin {margin-right: 20px; float: left;}
.select_people ul.select_people_content li .cabin .badge {padding: 4px 10px; margin: 0 5px; border-radius: 4px;}
.select_people ul.select_people_content li a {padding: 5px 16px; font-size: 14px; line-height: 18px; vertical-align: initial;}
.select_people ul.select_people_content li a i {margin-right: 5px;}
.select_people ul.select_people_content li.select_people_title {text-align: right;background: #f7efe4;}

.select_people ol.select_people_remarks {width: 100%; display: table; padding: 20px; margin: 0 auto;}
.select_people ol.select_people_remarks li {list-style: decimal; line-height: 25px;}
.select_people ol.select_people_remarks li span {color: #F00;}

.passenger_category {width: 100%; display: table; clear: both;}
.passenger_category ul {width: 100%; display: table; border-bottom: none;}
.passenger_category ul li span {color: #F00;}
.passenger_category ul.passenger_category_title li {padding: 10px; line-height: 34px; background: #f7efe4;}
.passenger_category ul.passenger_category_content li {padding: 10px; line-height: 34px;}
.passenger_category ul.passenger_category_content_settlement {border-bottom: 1px solid #e1e1e1;}
.passenger_category ul.passenger_category_content_settlement li {padding: 10px; line-height: 34px; text-align: right;}
.passenger_category ul.passenger_category_content_settlement li:nth-child(1) {text-align: left;}
.passenger_category ul.passenger_category_content_settlement li:nth-child(2),
.passenger_category ul.passenger_category_content_settlement li:nth-child(3),
.passenger_category ul.passenger_category_content_settlement li:nth-child(4),
.passenger_category ul.passenger_category_content_settlement li:nth-child(5) {width: 50%;}
.passenger_category ul.passenger_category_content_settlement li.settlement {text-align: right; border-left: none;}
.passenger_category ul.passenger_category_content_settlement li.settlement input {text-align: right; border: none; background: none; box-shadow: none;}
.passenger_category ul.passenger_category_content_description {border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.passenger_category ul.passenger_category_content_description li {padding: 0 10px; line-height: 34px; border-top: none;}

.passenger_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.passenger_information h4 .checkbox {display: inline; margin-left: 20px;}
.passenger_information ul {width: 100%; display: table;}
.passenger_information ul.passenger_information_title li {padding: 10px; line-height: 34px; background: #f7efe4; text-align: center;}
.passenger_information ul.passenger_information_content {border: 1px solid #e1e1e1; border-top: none;}
.passenger_information ul.passenger_information_content li {line-height: 34px;padding: 10px; border: none;}
.passenger_information ul.passenger_information_content li i {color: #F00; margin-right: 5px; float: left; line-height: 34px;}
.passenger_information ul.passenger_information_content li.order_information_title {text-align: right; background: #f7efe4;}
.passenger_information ul.passenger_information_content li:nth-child(1) {text-align: center;}
.passenger_information ul.passenger_information_content li:nth-child(8) {text-align: right;}
.passenger_information ul.passenger_information_content li.passenger_information_content_title {text-align: right;}
.passenger_information ul.passenger_information_content.first_person {border-bottom: none;}
.passenger_information ul.passenger_information_content.first_person li {border-bottom: 1px solid #e1e1e1;}
.passenger_information ul.passenger_information_content.first_person li input.Identity_Card {width: 88%; float: left;}

.passenger_information ul.passenger_information_content_subtotal {border: 1px solid #e1e1e1; border-top: none; border-bottom: none;}
.passenger_information ul.passenger_information_content_subtotal li {line-height: 34px;padding: 10px; text-align: right; border: none; border-bottom: 1px solid #e1e1e1;;}
.passenger_information ul.passenger_information_content_subtotal li.subtotal {color: #F00; font-weight: bold;}


.passenger_information ul.plus_cost_title {margin-top: 20px; border-bottom: none;}
.passenger_information ul.plus_cost_title li {padding: 10px; line-height: 34px; background: #f7efe4; text-align: left;}
.passenger_information ul.plus_cost_content {}
.passenger_information ul.plus_cost_content li {line-height: 34px;padding: 10px;}
.passenger_information ul.plus_cost_content li i {color: #F00; margin-right: 5px; float: left; line-height: 34px;}
.passenger_information ul.plus_cost_content li.order_information_title {text-align: right; background: #f7efe4;}
.passenger_information ul.plus_cost_content li:nth-child(odd) {text-align: left;}
.passenger_information ul.plus_cost_content li:nth-child(even) {text-align: right;}
.passenger_information ul.plus_cost_content li.passenger_information_content_title {text-align: right;}
.passenger_information ul.plus_cost_content.first_person {border-bottom: none;}
.passenger_information ul.plus_cost_content.first_person li {border-bottom: 1px solid #e1e1e1;}
.passenger_information ul.plus_cost_content.first_person li input.Identity_Card {width: 88%; float: left;}
.passenger_information ul.plus_cost_content li span.label-tag {margin-left: 10px;}

.passenger_information ul.plus_cost_content_subtotal {border-bottom: none;}
.passenger_information ul.plus_cost_content_subtotal li {line-height: 34px;padding: 10px; text-align: right; border-top: none; border-bottom: 1px solid #e1e1e1; width: 50%; border-top: 2px solid #e1e1e1;}
.passenger_information ul.plus_cost_content_subtotal li.subtotal {border-left: none; font-weight: bold;}
.passenger_information ul.plus_cost_content_subtotal li.total {color: #F00; border-left: none; font-weight: bold;}


.additional_items {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.additional_items ul {width: 100%; display: table; border-bottom: none;}
.additional_items ul li span {color: #F00;}
.additional_items ul.additional_items_title li {padding: 10px; line-height: 34px; background: #f7efe4; text-align: center;}
.additional_items ul.additional_items_content li {line-height: 34px;padding: 10px;}
.additional_items ul.additional_items_content li:nth-child(3n+2) {text-align: right;}

.additional_items ul.additional_items_subtotal {border-bottom: none; border-top: 1px solid #e1e1e1;}
.additional_items ul.additional_items_subtotal li {line-height: 34px;padding: 10px; text-align: right; border-top: none; border-bottom: 1px solid #e1e1e1;}
.additional_items ul.additional_items_subtotal li.subtotal {border-left: none; font-weight: bold;}
.additional_items ul.additional_items_subtotal li.total {color: #F00; border-left: none; font-weight: bold;}


.other_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.other_information ul {width: 100%; display: table; border-bottom: none;}
.other_information ul.other_information_title li {padding: 10px; line-height: 34px;}
.other_information ul.other_information_title li a {line-height: 34px; padding: 0 12px; margin-left: 30px;}
.other_information ul.other_information_title li a i {margin-right: 5px; font-size: 18px; vertical-align: middle;}
.other_information ul.other_information_content {border-left: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.other_information ul.other_information_content li {padding: 10px; line-height: 34px;}
.other_information ul.other_information_content li:nth-child(2) {line-height: initial;}
.other_information ul.other_information_content li.no_border {border-left: none;}
.other_information ul.other_information_content li.information_title {background: #f7efe4; text-align: right; border-left: none;}
.other_information ul.other_information_content li.information_remarks {color: #26a69a; border-left: none;}

.complete_order {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px; text-align: center;}
.complete_order a, .complete_order button {display: table; margin: 0 auto;line-height: 34px;}
.complete_order a i, .complete_order button i {margin-right: 5px; font-size: 18px; vertical-align: middle;}
.complete_order .travel_contract {display: table; margin: 0 auto 10px;}
.complete_order .travel_contract a {display: initial; margin: 0;}


/** 會員登入MODAL區 START **/
#myLogin .modal-body {display: table; padding: 25px 50px 15px;} 
#myLogin .modal-body ul li {margin-bottom: 20px;}
#myLogin .modal-body ul li button {width: 100%; font-size: 16px;}
#myLogin .modal-body ul li a {width: 100%; font-size: 16px;}
#myLogin .modal-body ul li a.forget_password {float: right;display: table;width: initial;font-size: 14px;color: #d9534f;}
#myLogin .modal-body ul li button i {margin-right: 5px; font-size: 16px;}
#myLogin .modal-body ul li a i {margin-right: 5px; font-size: 16px;}
#myLogin .modal-body ul li a.forget_password i {font-size: 14px;}

#myLogin .modal-body ul li .input-group i {width: 15px;}

#myLogin .modal-footer {padding: 25px 50px;}
#myLogin .modal-footer button {width: 100%;}
/** 會員登入MODAL區 END **/

/** 忘記密碼MODAL區 START **/
#myforgetpassword .modal-body {display: table; padding: 25px 50px 15px;}  
#myforgetpassword .modal-body .description p {margin-bottom: 20px;}
#myforgetpassword .modal-body ul li {margin-bottom: 20px;}
#myforgetpassword .modal-body ul li p {margin: 5px 0 0 0; font-size: 14px; color: #F00; font-weight: 200;}
#myforgetpassword .modal-body ul li .input-group i {width: 15px;}
#myforgetpassword .modal-body ul li button {width: 100%; font-size: 16px;}
#myforgetpassword .modal-body ul li button i {margin-right: 5px; font-size: 16px;}

#mycompleteorder .modal-dialog {top: 30%;}
#mycompleteorder .modal-dialog .alert{margin: 0; padding: 40px 15px; text-align: center; font-size: 16px;}
/** 忘記密碼MODAL區 END **/

/** 旅遊定型化契約MODAL區 START **/
#myTravelContract .modal-body textarea.form-control {line-height: 20px;}
/** 旅遊定型化契約MODAL區 END **/


/** 完成訂購 **/
.order_completion {}
.order_completion .order_completion_description {margin-bottom: 20px;}
.order_completion .order_completion_description h3 {margin: 10px auto;}
.order_completion_content h4 > i {background: #a7895f; width: 25px; height: 25px; vertical-align: text-top; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding-left: 2px; margin-right: 5px;}
.order_completion_content h4 > i:before {line-height: 24px; color: #FFF;}
.order_completion_content fieldset {width: 100%; float: left; font-size:16px; border: 1px solid #e1e1e1; margin:10px 0 20px; padding: 10px 10px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.order_completion_content fieldset legend {border: none; width: initial; width: 95px \9; padding: 0 10px; font-size: 18px; margin-bottom:10px;}

#css_table {margin:0 auto; display:table; width: 100%; border-top: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1;}
.css_tr {display: table-row; background: #fff;}
.css_th {display: table-cell; white-space:nowrap; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; line-height:34px; padding: 10px; text-align:center;	vertical-align: middle;	font-size:16px;	color:#3a3a3a; background-color:#f7efe3;}

.css_td {display: table-cell; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; height: 70px; line-height: 25px; padding: 0px 10px; font-size:16px; text-align: center; vertical-align: middle;}


.order_completion_content ul {width: 100%; display: table; border-top: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.order_completion_content ul li {border-bottom: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; padding: 10px; line-height: 34px;}

.order_completion_content .order_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.order_completion_content .order_information ul.order_information_title {background: #f7efe4;}
.order_completion_content .order_information ul.order_information_title li {text-align: center;}
.order_completion_content .order_information ul.order_information_content {border-top: none;}
.order_completion_content .order_information ul.order_information_content li {text-align: center;}

.order_completion_content .flight_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.order_completion_content .flight_information ul.flight_information_title {background: #f7efe4;}
.order_completion_content .flight_information ul.flight_information_title li {text-align: center;}
.order_completion_content .flight_information ul.flight_information_content {border-top: none;}
.order_completion_content .flight_information ul.flight_information_content li {text-align: center; background: #fff;}

.order_completion_content .deposit_payable {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.order_completion_content .deposit_payable ul.deposit_payable_title {background: #f7efe4;}
.order_completion_content .deposit_payable ul.deposit_payable_title li {text-align: center;}
.order_completion_content .deposit_payable ul.deposit_payable_content {border-top: none;}
.order_completion_content .deposit_payable ul.deposit_payable_content li {text-align: center; background: #fff;}

.order_completion_content .deposit_payable ul.deposit_total_content {width: 100%; display: table; padding: 0 10px; border: none;}
.order_completion_content .deposit_payable ul.deposit_total_content li {border: none; text-align: left; line-height: initial;}
.order_completion_content .deposit_payable ul.deposit_total_content li:nth-last-child(1) {text-align: right;}

.order_completion_content .deposit_payable ul.deposit_payable_emarks {width: 100%; display: table; padding: 0 10px; border: none;}
.order_completion_content .deposit_payable ul.deposit_payable_emarks li {border: none; text-align: left; line-height: initial;}
.order_completion_content .deposit_payable ul.deposit_payable_emarks li span {color: #F00; padding: 0 5px;}

.order_completion_content .other_information .other_information_emarks {width: 100%; display: table; border: 1px solid #e1e1e1; line-height: initial; padding: 10px;}
.order_completion_content .other_information .other_information_emarks li {border: none; line-height: initial;}

.order_completion_content .other_information ul.other_information_title {background: #f7efe4;}
.order_completion_content .other_information ul.other_information_title li {text-align: center;}
.order_completion_content .other_information ul.other_information_content {border-top: none; border-left: none; border-bottom: none;}
.order_completion_content .other_information ul.other_information_content li {text-align: center; background: #fff; line-height: 34px;}

.order_completion_content .other_information ul.other_information_notes {border: none; padding-left: 40px;}
.order_completion_content .other_information ul.other_information_notes > li {border: none; line-height: initial; list-style-type: decimal-leading-zero;}
.order_completion_content .other_information ul.other_information_notes > li > ul {border: none; padding-left: 20px;}
.order_completion_content .other_information ul.other_information_notes > li > ul > li {border: none; line-height: initial; list-style-type: lower-latin;}

.order_completion_content .complete_order ul {display: table; margin: 0 auto; width: initial; border: none;}
.order_completion_content .complete_order ul li {display: table; float: left; border: none;}



/** 付款頁 **/
.payment .payment_content h4 > i {background: #a7895f; width: 25px; height: 25px; vertical-align: text-top; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding-left: 2px; margin-right: 5px;}
.payment .payment_content h4 > i:before {line-height: 24px; color: #FFF;}

.payment .payment_content ul {width: 100%; display: table; border-top: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.payment .payment_content ul li {border-bottom: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; padding: 10px; line-height: 34px; background: #FFF;}

.payment .payment_content .payment_information {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.payment .payment_content ul.payment_information_content {width: 100%; display: table; border: 1px solid #e1e1e1;}
.payment .payment_content ul.payment_information_content li {text-align: left; background: #fff; line-height: 25px; padding: 10px; border: none;}
.payment .payment_content ul.payment_information_content li.payment_information_title {text-align: right;}

.payment .payment_content .payment_method {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.payment .payment_content ul.payment_method_content li.payment_method_title {background: #f7efe4; text-align: right;}
.payment .payment_content ul.payment_method_content {width: 100%; display: table;}
.payment .payment_content ul.payment_method_content li label {margin: 0;}
.payment .payment_content ul.payment_method_content li label input {vertical-align: middle; margin: 0 5px 0 0;}

.payment .make_payment {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px; text-align: center;}
.payment .make_payment ul {display: table; margin: 0 auto; width: initial; border: none;}
.payment .make_payment ul li {display: table; float: left; border: none; background: none;}
.payment .make_payment a, .payment .make_payment button {display: table; margin: 0 auto;line-height: 34px;}
.payment .make_payment a i, .payment .make_payment button i {margin-right: 5px; font-size: 18px; vertical-align: middle;}


.payment .payment_content .money_transfer {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.payment .payment_content .money_transfer .money_transfer_title {border: 2px dotted #F00; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 20px; background: #FFF; margin: 0 auto 20px;}
.payment .payment_content .money_transfer .money_transfer_title li {border: none; text-align: center; padding: 0;}
.payment .payment_content .money_transfer .money_transfer_content {border: 1px solid #e1e1e1; padding: 20px; background: #FFF;}
.payment .payment_content .money_transfer .money_transfer_content li {border: none; padding: 0;}


.payment .payment_content .fax_card {width: 100%; display: table; padding: 0 10px; margin: 0 auto 20px;}
.payment .payment_content .fax_card .fax_card_title {border: 2px dotted #F00; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 20px; background: #FFF; margin: 0 auto 20px;}
.payment .payment_content .fax_card .fax_card_title li {border: none; text-align: center; padding: 0;}
.payment .payment_content .fax_card .fax_card_content {border: 1px solid #e1e1e1; padding: 20px; background: #FFF;}
.payment .payment_content .fax_card .fax_card_content li {border: none; padding: 0;}

/** PDF **/
.pdf .header{position: inherit; height: inherit; border-bottom: 2px solid #333;}
.pdf .container {margin-top: 0;}
.pdf #navbar-spy {display: none;}
.pdf .fadeInUpShort {opacity: 1.0;}
.pdf .collapse {display: table; width: 100%;}
.pdf .breadcrumb {display: none;}
.pdf .product_details h3 {margin-top: 20px;}

@media print {
  .header, .sign_up_group, .navbar-default #cart, .service_box {display: none;}
  .collapse {display: block; visibility: initial;}
}