﻿*{font-family:Arial, "微軟正黑體", "新細明體-ExtB"}
body {
	scrollbar-face-color: #EBEBEB;
	scrollbar-arrow-color:#666666;
	scrollbar-highlight-color: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #EBEBEB;
	scrollbar-shadow-color: #666666;
	scrollbar-3dlight-color:#EBEBEB;
	scrollbar-track-color: #EBEBEB;
}
.top-menu-link01 {
    font-size: 12px;
    color: #CDCDCD;
    text-decoration: none;
}
.top-menu-link02 {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.left-style-bg{
	background-color: #FFFFFF;
	background-image: url(/eweb_summittour/images/top_images/ha_left.gif);
	
	background-repeat: repeat-y;
	background-position: left;
}
.left-menu-link01 {
	font-size: 12px;
	color: #747474;
	text-decoration: none;
	line-height: 18px;
	letter-spacing: 0.1px;
}
.left-menu-link02 {
    font-size: 12px;
    line-height: 20px;
    color: #5E5A37;
    text-decoration: none;
}
.left-input-text01{
	font-size: 12px;
	line-height: 18px;
	color: #404040;
}
.left-input-text02{
    font-size: 12px;
}
.left-input-box{
	border: 1px solid #666666;
	font-size: 12px;
	list-style-type: disc;
	color: #5B5B5B;
	clip:   rect(   );
	background-color: #FFFFFF;
	height: 18px;
	width: 60px;
 }
.left-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
 }
.marquee-t1{
    width: 100%;
	height: 15px; 
	 background-color:none; 
     font-size: 12px; color: #0033ff; 
} 
.marquee-m13{ 
     width: 98%; 
     background-color:none; 
     font-size: 12px; color: #267E91; 
     height: 110px; 
} 
.marquee-link-m13{ 
    font-size: 15px; 
	color:#333; 
	text-decoration: none; 
	line-height: 30px;
	font-family:Arial, "微軟正黑體";
}
.marquee-link-m13 a{ 
    font-size: 15px; 
	color:#333; 
	text-decoration: none; 
}
.marquee{
	width: 100%;
	background-color:none;
	height: 60px;
}
.marquee-link{
	font-size: 12px;
	color: #333333; 
	text-decoration: none;
	line-height: 18px;
}
.right-style-bg{
	background-color: #FFFFFF;
}
.right-menu-link01{
	font-size: 12px;
	color: #25638F;
	text-decoration: none;
	line-height: 17px;
}
.banner-link{
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	line-height: 17px;
}
.left-banner-table{
    border-collapse: collapse;
    border: none; border-width:0pt; 
	border-color:none ;
	width: 100%;
}
.left-banner-td{
    height:1px;
}
.left-banner-picture{
	 width: 155px;
	     height:90px;
}
.right-banner-picture{
	 width: 150px;
	     height:90px;
}
.right-banner-td{
    height:2px;
}
a:hover {
    color:#666;
}
.all-table-width{
    width: 100%;
	margin:0 auto;
}
.all-table-width-new{
	width:980px;
	margin:0 auto;
	margin-top: 25px;
	
	}
.main-title{
	font-size:11pt;
	color: #FFF;
	/*filter:glow(color=#000000, strength=2,enabled=2);*/
	font-weight: normal;
}
.main-table-width{ 
    width:100%;
}
.main-td-color{
	background-color: #FFFFFF;
	padding-left:5px;
}
.m8-table-bg{
   /*width: 232px;
   height: 156px;*/
   position: relative;
   font-family: 微軟正黑體,Verdana;
   background: #FFF;
}
.m8-table{
    border-collapse: collapse;
    border-width:0pt; 
	border-color:none 
}
.m8-td{
    border-collapse: collapse;
    border: none;
	border-width:0pt;
	border-color:none ;
	background-color:none ;
	font-size: 12px;
	font-style: normal;
}
.m8-picture{
	/*width: 228px;
	height: 140px;
	border: 1px #eee solid;
	padding-bottom: 125px;*/
}
.m8-link{
	font-size: 13px; 
	color: #E45109; 
	text-decoration: none; 
	font-weight: normal;
	letter-spacing: 1px;
}
td.m8-td table tr td img{ display:none;}
table.m8-table-bg tr td table tr td.m8-td tr td a.m8-link {
position: absolute;
top: 153px;
left: 5px;
color: #005752;
font-size: 16px;
/*padding:10px 0 5px 0px;*/
width: 225px;
font-family: 微軟正黑體,Verdana;
line-height: 20px;
font-weight: bold;
text-align:left;
}
table.m8-table-bg tr td table tr td.m8-td tr td a:hover {
	color:#013f3b;
}
table.m8-table-bg tr td table tr td.m8-td div.m8-article {
position: absolute;
top: 175px;
left: 5px;
color: #707070;
font-size: 13px;
line-height: 22px;
/*padding:3px 6px;
text-align: justify;
border-bottom: 1px solid #dcdcdc; */
padding-bottom:15px;
width:220px;
}
.m8-article a{ text-decoration:none;color: #707070;font-size: 13px;line-height: 20px;}
.m8-article a:hover{ text-decoration:underline;}
table.m8-table-bg tr td table tr td.m8-td div.m8_detail {
position: absolute;
top:5px;
left:325px;
color: #486a00;
font-size: 18px;
line-height: 22px;
padding-bottom:15px;
width:350px;
}
table.m8-table-bg tr td table tr td.m8-td div.m8_detail h1  {
color: #486a00;
font-size: 18px;
line-height: 22px;
width:350px;
font-weight:normal;
}
table.m8-table-bg tr td table tr td.m8-td div.m8_detail p {
color: #707070;
font-size: 13px;
line-height: 24px;
width:350px;
}
table.m8-table-bg tr td table tr td.m8-td div.m8_detail span {
	color: #F00;
	font-size: 18px;
	line-height: 24px;
	position: absolute;
	left: 250px;
	top: 135px;
}
.m9-table-bg{
	margin-left:6px;
	margin-top:10px;
	padding-top:10px;
	padding-left:6px;
}
.m9-scroll{
    font-size: 12px;
	color: #000099;
	text-decoration: none;
	scrollbar-face-color: #FFFFFF;
	scrollbar-arrow-color:#999999;
	scrollbar-highlight-color: #F7FAFD;
	SCROLLBAR-DARKSHADOW-COLOR: #999999;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-3dlight-color: #999999;
	scrollbar-track-color: #FFFFFF;
	background-color: #ffffff;
	height:80px;
	width: 240px;
	overflow: no;
}
.m9-td{
    background-color: none;
}
.m9-link{
    font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 16px;
	letter-spacing: 1px;
}
.m9-table{
    width: 240px;
}
.m9-picture{
	width:112px;
	height: 37px;
}
.ms-table-bg{
	background-color:#FFF;
}
.ms-td-line-width{
	width: 6px;
	background-image:  url(/eweb_summittour/images/Module_icon/G_MS_bg3.gif);
}
.ms-td-line-height{
	height: 21px;
	background-image:     url(/eweb_summittour/images/Module_icon/G_MS_bg2.gif);
	background-repeat: no-repeat;
}
.ms-tr01{
	font-size: 12px;
	color: #43463C;
	letter-spacing: 1px;
	line-height:28px;
}
.ms-tr02{
	font-size: 12px;
	color: #43463C;
	letter-spacing: 1px;
	line-height:28px;
}
.ms-tr03{
	font-size: 12px;
	color: #43463C;
	letter-spacing: 1px;
	line-height:28px;
}
tr.ms-tr02 td b{
	display:none;
}
.ms-open-table{
    border-collapse: collapse;
    border: solid; border-width:0pt; 
	border-color:#B0B0B0 ;
	width: 100%;
}
.ms-open-td{
    border-collapse: collapse;
    border: solid; border-width:0pt;
	font-size:13px; border-color:#B0B0B0 ;
	background-color:#eeeeee ;
	padding: 1px 1px 1px 1px ;
	color: #003366;
	height:20px;
	line-height: 20px
}
.ms-open-text{
    font-size: 12px;
	line-height: 18px;
	color: #42597D;
	text-decoration: none;
	background-color:#FDF7FA ;
	border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:13px; border-color:#B0B0B0 ;
	padding: 1px 1px 1px 1px ;
}
.ms-input-box{
	font-size: 12px; 
	color: #444444; 
	letter-spacing: 1px;
}
.ms-input-text{
    font-size: 12px;
	letter-spacing: 1px;
}
.ms-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
 }
.m6-table-bg{ width:230px; height:115px; position:relative; font-family:"微軟正黑體" ,sans-serif;}
.m6-picture{
	width:228px; height:120px; border:1px solid #CCC;
	padding-bottom:60px;
}
tr.m6-tr01 td a.m6-link{ position:absolute; left:10px; top:128px;}
tr.m6-tr01 td.m6-link02 a.m6-link02 {position: absolute;
width: 220px;background: #a1ba6d;top: 188px;height: 35px;color: #fff;font-size: 16px;line-height: 35px; padding:0 5px;}
table.m6-table-bg tr td table tr td table{}
.m6-link{
	/*font-weight:bold;line-height:30px;*/
	font-size: 15px;
	color: #000;
	text-decoration:none;
	letter-spacing: 1px;
	width:220px;
	position:absolute;
	left:3px;
}
.m6-link02{
    font-size: 12px;
	color: #FF3366;
	text-decoration: none;
	line-height: 30px;
		letter-spacing: 1px;
}
.m6-tr01{
	height:30px;
}
.m6-tr02{
	height:30px;
}
.m6-table{  }
.m7-table-bg{ width:280px;}
.m7-link{font-size: 13px;color:#666;text-decoration: none;line-height: 17px;}
.m7-tr01{ width:280px;}
tr.m7-tr01 td a.m7-link{ float:left;width: 265px;padding: 3px 0;font-size:13px;line-height: 20px;}
tr.m7-tr01 td{ /*float:left;*/}
tr.m7-tr01 td img{ float:left;padding-top:10px; padding-right:8px;}
tr.m7-tr01 td a{ float:left; width:260px;}
.m7-tr02{
}
.m10-table-bg {
position: relative;
}
.m10-picture{
	width: 228px;
	height: 145px;
	border: 1px solid #eee;
	padding-bottom: 92px;
}
table.m10-table-bg tr td table tr td table {
position: absolute;
top: 75px;
left: 4px;
width: 212px;
text-align: left;
}
table.m10-table-bg tr td table tr td table tr.m10-tr01 td:first-child{
	display:none;
}
.m10-tr01{
	font-family: "微軟正黑體";
	/*letter-spacing: 1px;*/
	font-size: 15px;
	color: #7e6b5a;
	line-height: 22px;
}
.m10-tr02{
}
.m10-link{
	text-decoration:none;
	color:#7e6b5a;
}
.m10-link:hover{
	text-decoration:underline;
	color:#7e6b5a;
}
.m10-link02{
    font-size: 16px;
	color:#a40000;
	text-decoration: none;
	line-height: 30px;
	font-weight:bold;
}
.m10-link02:hover{
	color:#a40000;
}
table.m10-table-bg tr td table tr td table tr.m10-tr01 td:nth-child(3){
	/*font-size: 15px;
	color: #FF3366;
	text-decoration: none;*/
	position:absolute;
	top: 50px;
	right:3px;
}
.go-all-table-width{
	width: 960px;
}
.go-ms-title{
    font-size: 13px; 
	color: #0000FF; 
	text-decoration: none ; 
	line-height: 15px;
	background-color:#ffffff; 
	letter-spacing: 1px;
}
.go-ms-table-line{
	background-color:#FFF;
	width: 100%;
	border-top: 5px solid #99cc66;
	border-right: 5px solid #99cc66;
	border-bottom: 5px solid #99cc66;
	border-left: 5px solid #99cc66;
	margin:10px 0;
}
.go-search-result-tr{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal;
	background-color:#E7E7E7;
}
.go-contant-row{
    font-size: 12px;
	color: #342F3C;
	text-decoration: none;
	line-height: 24px;
}
.go-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#E8E8E8 ;
	width: 100%;
}
table.go-contant-table tr td table tr td{
	/*padding:5px; 轉寄好友的按鈕會破圖*/
}
.go-contant-td01{
	border-collapse: collapse;
	font-size:12px;
	background-color:#ffffff;
	padding: 1px 1px 1px 1px;
	color: #666666;
	height:25px;
	line-height: 23px;
	letter-spacing: 1px;
	border-top: 1pt solid #ffffff;
	border-right: 1pt solid #ffffff;
	border-bottom: 1pt dashed #B3B3B3;
	border-left: 1pt solid #ffffff;
}
tr.go-contant-td01 td{
	padding:5px;
}
.go-contant-td02{
	border-collapse: collapse;
	font-size:12px;
	background-color:#F7F8FF;
	padding: 1px 1px 1px 1px;
	color: #525252;
	height:25px;
	line-height: 23px;
	letter-spacing: 1px;
	border-top: 0pt dashed;
	border-right: 0pt dashed;
	border-bottom: 1pt dashed #B3B3B3;
	border-left: 0pt dashed;
	
}
tr.go-contant-td02 td{
	padding:5px;
}
.go-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#D3E0FE ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 23px;
}
.go-contant-td04{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#f9f9f9 ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	line-height: 23px;
		letter-spacing: 1px;
}
.go-contant-td05{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#f9f9f9 ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	line-height: 23px;
		letter-spacing: 1px;
}
.go-contant-td06{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#B0B0B0 ;
	background-color:#F5EEFF;
	padding: 1px 1px 1px 1px ;
	color: #044ED5;
	height:23px;
	line-height: 23px;
		letter-spacing: 1px;
}
.go-everyday-td01{
	font-size:13px;
	color: #FFFFFF;
	height:30px;
	padding:5px 0;
	background-color:#6e9130;
	/*background-image:      url(/eweb_summittour/images/go_day_bg.gif);*/
}
.go-everyday-td02{
	font-size:13px;
	color: #FFF;
	height:20px;
	padding:5px;
	background-color:#8cb93b;
	
	/*background-image:      url(/eweb_summittour/images/go_day_bg2.gif);*/
}
.go-contant-link01{
    font-size: 12px;
	color: #666;
	text-decoration: none;
		letter-spacing: 1px;
}
.go-contant-link02{
    font-size: 12px;
	line-height: 20px;
	color: #0066FF;
	text-decoration: none;
		letter-spacing: 1px;
}
.go-contant-text01{
    font-size: 12px;
	line-height: 22px;
	color: #42597D;
	text-decoration: none;
		letter-spacing: 1px;
}
.go-contant-text02{
	font-size: 12px;
	line-height: 22px;
	color: #444444;
	text-decoration: none;
	background-color: #F9FAFB;
		letter-spacing: 1px;
}
.go-contant-text03{
    font-size: 15px;
	line-height: 22px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
		letter-spacing: 1px;
}
.go-contant-money01{
    font-size: 12px;
	line-height: 22px;
	color: #E81010;
	text-decoration: none;
}
.go-contant-picture{
    height: 150px;
	width: 200px;
}
.go-contant-picture01{
    height: 112px;
	width: 145px;
}
.go-contant-picture02{
    height: 100px;
	width: 100px;
}
.go-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.go-page-link{
    font-size: 12px;
	color:#990099 ;
	text-decoration: none;
}
.go-page-link01{
    font-size: 12px;
	color: #044ED5;
	text-decoration: none;
}
.go-tour-menu-table{
    border-collapse: collapse;
    border: none; border-width:0pt; 
	border-color:#B0B0B0 ;
	width: 100%;
}
.go-tour-menu-td01{
    border-collapse: collapse;
	font-size: 12px;
	background-color:#FFFFFF;
	padding: 2px 2px 2px 2px ;
}
.go-tour-menu-td02{
    border-collapse: collapse;
	font-size: 12px;
	background-color:#FFFFFF;
	padding: 2px 2px 2px 2px ;
}
.go-tour-menu-link01{
	font-size: 12px;
	color: #363636;
	text-decoration: underline;
	letter-spacing: 1px;
}
.go-tour-menu-text{
    font-size: 12px; 
	color:#339933; 
	text-decoration: none
}
.go-tour-td-color01{
	background-color:#ffffff;
	font-size: 12px;
	color: #42597D;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.go-tour-td-color02{
	background-color:#FFFFFF;
	font-size: 13px;
	color: #42597D;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.go-main-title{
    font-size: 15px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: bold
}
.go-main-subtitle{
    font-size: 13pt;
	color: #398493;
	text-decoration: none;
	font-weight: bold;
	line-height: 22px;
	padding: 2px 0;
	font-family: 微軟正黑體;
	}
.order-all-table-width{
    width:960px;
}
.order-step-title{
	color:#F90;
	text-decoration: none; 
	font-weight: bold;
	font-size: 16px !important;
    padding-top: 10px;
	font-family:Arial, "微軟正黑體", "新細明體-ExtB";
}
.order-contant-text01{
    font-size: 12px;
	line-height: 20px;
	font-style: normal;
	color:#46554D;
}
.order-contant-text02{
    font-size: 12px;
	line-height: 20px;
	font-style: normal;
	color:#666;
}
.order-contant-title{
	font-size: 15px;
	line-height: 18px;
	color: #166419;
	font-weight: bold;
	letter-spacing:0.1em;
	font-family:Arial, "微軟正黑體", "新細明體-ExtB";
}
.order-td-color01{
   background-color:#78ad38;
	font-size: 13px;
	color:#FFF;
	text-decoration: none;
	width: 150px;
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	vertical-align: middle;
}
.order-td-color02{
    background-color:#FFFFFF;
	font-size: 12px;
	color: #281000;
	text-decoration: none;
}
.order-input-box{
	font-size: 12px; 
	color: #5B5B5B; 
	clip:   rect(   ); 
	background-color: #FFFFFF
}
.order-input-box02{
    background-color: #FFFFFF;
	font-size: 12px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.order-input-text{
    font-size: 12px;
}
.order-input-text01{
    font-size: 13px;
	padding-left: 15px;
	color: #666666;
	padding: 10px;
}
.order-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.tkt-order-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.pg-order-input-button{
     cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.htl-order-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.order-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.order-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#B4B4B4 ;
	width: 100%;
}
.order-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#f2f2f2 ;
	background-color:#F2F9FB ;
	padding: 3px 3px 3px 3px ;
	color: #342F3C;
	height:25px;
	line-height: 20px
}
.order-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#f2f2f2 ;
	background-color:#ffffff ;
	padding: 3px 3px 3px 3px ;
	color: #342F3C;
	height:25px;
	line-height: 20px
	
}
.order-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#f2f2f2 ;
	background-color:#eeeeee ;
	padding: 3px 3px 3px 3px ;
	color: #342F3C;
	height:20px;
	line-height: 20px 
}
.order-contant-td04{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#f2f2f2 ;
	background-color:#DCDFE2 ;
	padding: 3px 3px 3px 3px ;
	color: #342F3C;
	height:20px;
	line-height: 20px 
}
.tkt-order-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#BEC5CF ;
	width: 100%;
}
.tkt-order-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#BEC5CF ;
	background-color:#DFFFE8 ;
	padding: 1px 1px 1px 1px ;
	color: #003399;
	height:20px;
	line-height: 20px 
}
.tkt-order-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#BEC5CF ;
	background-color:#FFFFFF ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
	
}
.pg-order-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#BEC5CF ;
	width: 100%;
}
.pg-order-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#BEC5CF ;
	background-color:#F9FFE1 ;
	padding: 1px 1px 1px 1px ;
	color: #003399;
	height:20px;
	line-height: 20px 
}
.pg-order-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#BEC5CF ;
	background-color:#FFFFFF ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
	
}
.order-contant-money01{
    font-size: 13px;
	line-height: 20px;
	color: #F24D48;
	text-decoration: none;
	font-weight: bold;
}
.order-contant-money02{
    font-size: 12px;
	line-height: 20px;
	color: #0000FF;
	text-decoration: none;
}
.date-search-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#ffffff ;
	width: 215px;
}
.date-search-tr-color{
	background-color:#DEDEDC ;
	color: #000000;
	line-height: 18px;
	font-size:12px;
}
.date-search-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#FFD0D0 ;
	padding: 1px 1px 1px 1px ;
	color: #342F3C;
	line-height: 18px
}
.date-search-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#DDFFAA ;
	padding: 1px 1px 1px 1px ;
	color: #342F3C;
	line-height: 18px
	
}
.date-search-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#EEE8EE ;
	padding: 1px 1px 1px 1px ;
	color: #807593;
	line-height: 18px 
}
.date-search-td04{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#DDF0FF ;
	padding: 1px 1px 1px 1px ;
	color: #342F3C;
	line-height: 18px 
}
.htl-date-search-td01{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:11px; border-color:#cccccc ;
	background-color:#cdcdcd ;
	padding: 1px 1px 1px 1px ;
	color: #342F3C;
	line-height: 18px
}
.htl-date-search-td02{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:11px; border-color:#cccccc ;
	background-color:#DDFFAA ;
	padding: 1px 1px 1px 1px ;
	color: #342F3C;
	line-height: 18px
	
}
.htl-date-search-td03{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#fefefe ;
	padding: 1px 1px 1px 1px ;
	color: #807593;
	line-height: 18px 
}
.htl-date-search-td04{
    border-collapse: collapse;
    border: solid; border-width:0pt 1pt 1pt 0pt;
	font-size:11px; border-color:#cccccc ;
	background-color:#F9F7F0 ;
	padding: 0px 1px 0px 0px ;
	color: #664500;
	line-height: 15px ;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.member-all-table-width{
    width:960px
}
td.main-td-color table.member-all-table-width tr td table tr td img{
	/*padding:35px 0 10px 0;*/
}
.member-title{
    font-size: 12px;
	color: #000000; 
	text-decoration: none; 
	font-weight: none
}
.member-contant-title{
	font-size: 13px;
	color: #0000FF;
	text-decoration: none;
	font-weight: bold;
}
.member-contant-text01{
    font-size: 12px; 
	color: #666666; 
	line-height: 20px;
}
.member-contant-text02{
	font-size: 12px;
	color: #CC0000;
	line-height: 20px;
	font-weight: bold;
}
.member-input-box{
    background-color: #ffffff;
	font-size: 12px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border-top: 1px dashed #999999;
	border-right: 1px dashed #999999;
	border-bottom: 1px dashed #999999;
	border-left: 1px dashed #999999;
	padding:5px;
}
.member-input-text{
    font-size: 12px;
	background-color: #EFEFEF;
	text-align: center;
}
.member-input-link{
    font-size: 12px;
	color:#0000FF;
}
.member-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.member-input-button02{
	background-color:#D7EAFF;
	border: 1px ridge #999999;
	height: 18px;
	font-size: 12px;
	width: 30px;
	letter-spacing: 2px;
}
.member-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.member-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#ffffff ;
	width: 100%;
}
.member-contant-td01{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	padding: 3px 3px 3px 3px ;
	color: #545454;
	height:25px;
	line-height: 20px;
	background-color:#F6F6F4;
}
.member-contant-td02{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	padding: 3px 3px 3px 3px ;
	color: #454545;
	height:25px;
	line-height: 20px;
	background-color:#F2F9FF;
}
.member-contant-td03{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	font-size:15px; border-color:#ffffff ;
	padding: 3px 3px 3px 3px ;
	color: #333333;
	height:25px;
	line-height: 20px;
	background-color:#DCDDDE;
}
.member-contant-money01{
     border-collapse: collapse;
    border:  solid; border-width:1pt;
	border-color:#CCC4E1 ;
	padding: 3px 3px 3px 3px ;
	height:25px;
	background-color:#ffffff;
	font-size: 13px;
	line-height: 20px;
	color: #EC0000;
	text-decoration: none;
	font-weight: bold;
}
.member-contant-money02{
    border-collapse: collapse;
    border:  solid; border-width:1pt;
	border-color:#CCC4E1 ;
	padding: 3px 3px 3px 3px ;
	height:25px;
	background-color:#FCFBFF; font-size: 12px;
	line-height: 20px;
	color: #009933;
	text-decoration: none;
}
.tkt-all-table-width{
	width:960px;
}
.tkt-ms-title{
    font-size: 13px; 
	color: #0000FF; 
	text-decoration: none ; 
	line-height: 15px;
	background-color:#ffffff; 
	letter-spacing: 1px;
}
.tkt-ms-table-line{
	width: 100%;
	border-top: 8px solid #DDF2FF;
	border-right: 8px solid #DDF2FF;
	border-bottom: 8px solid #DDF2FF;
	border-left: 8px solid #DDF2FF;
}
.tkt-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.tkt-input-box{
    background-color: #FFFFFF;
	font-size: 12px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.tkt-input-text{
    font-size: 12px;
	color:#333333;
	padding-top:10px;
	padding-bottom:5px;
}
.tkt-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.tkt-search-result-tr{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal;
	background-color:#E7E7E7;
}
.tkt-contant-text01{
    font-size: 12px;
	line-height: 18px;
	color: #0099CC;
	text-decoration: none;
}
.tkt-contant-text02{
    font-size: 12px;
	line-height: 17px;
	color: #666666;
	text-decoration: none;
}
.tkt-contant-money01{
    font-size: 12px;
	line-height: 20px;
	color: #BB3E7C;
	text-decoration: none;
}
.tkt-quick-search-table{
    border-collapse: collapse;
    border: none; border-width:0pt; 
	border-color:none ;
	width: 100%;
}
.tkt-quick-search-td01{
    border-collapse: collapse;
    border: 1pt solid #CCCCCC;
	font-size:12px;
	background-color:#F9F7D0;
	padding: 1px 1px 1px 1px ;
	color: #0066FF;
	line-height:17px;
	height:17px;
}
.tkt-quick-search-td02{
    border-collapse: collapse;
    border: 1pt solid #cccccc;
	font-size:12px;
	background-color:#EFF5F5;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	line-height:17px;
	height:17px;
}
.tkt-quick-search-td03{
    border-collapse: collapse;
    border: 1pt solid #CCCCCC;
	font-size:12px;
	background-color:#F3F3F3;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	line-height:17px;
	height:17px;
}
.tkt-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#D1D1D1 ;
	width: 100%;
}
.tkt-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#D1D1D1 ;
	background-color:#ffffff ;
	padding: 1px 1px 1px 1px ;
	color: #444444;
	height:25px;
	line-height: 20px
}
.tkt-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#D1D1D1 ;
	background-color:#FBFAFC ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.tkt-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#D1D1D1 ;
	background-color:#EAF1FF;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.tkt-contant-td04-go{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:11px; border-color:#BAB9A4 ;
	background-color:#FFE4D2 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.tkt-contant-td04-back{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:11px; border-color:#BAB9A4 ;
	background-color:#FFFAD9 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.tkt-contant-td05{
    border-collapse: collapse;
    border: none; border-width:0pt;
	font-size:11px; border-color:#BAB9A4 ;
	background-color:#ffffff ;
	padding: 1px 1px 1px 1px ;
	color:#333333;
	height:20px;
	line-height: 20px
}
.tkt-contant-td06{
  	font-size:11px; 
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:20px;
	line-height: 20px
}
.tkt-contant-td-mouseover{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:11px; border-color:#B0B0B0 ;
	background-color:#F1FFE8 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.pg-all-table-width{
	width: 960px;
}
.pg-ms-title{
    font-size: 13px; 
	color: #0000FF; 
	text-decoration: none ; 
	line-height: 15px;
	background-color:#ffffff; 
	letter-spacing: 1px;
}
.pg-ms-table-line{
	width: 100%;
	border-top: 8px solid #DDF2FF;
	border-right: 8px solid #DDF2FF;
	border-bottom: 8px solid #DDF2FF;
	border-left: 8px solid #DDF2FF;
}
.pg-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.pg-input-box{
    background-color: #FFFFFF;
	font-size: 12px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.pg-input-text{
    font-size: 12px;
	color:#64685B;
	background-color:#F9F9F9;
}
.pg-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.pg-search-result-tr{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal;
	background-color:#E7E7E7;
}
.pg-contant-table{
    border-collapse: collapse;
    border: solid; border-width:3pt; 
	border-color:#E8E8E8 ;
	width: 100%;
}
.pg-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#DFDFDF ;
	background-color:#ffffff ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.pg-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#DFDFDF ;
	background-color:#EEFFF8 ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.pg-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#DFDFDF ;
	background-color:#FFEEEE ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.pg-contant-link01{
    font-size: 10pt;
	color: #333333;
	text-decoration: none;
	line-height: 22px;
	background-color:#eeeeee ;
}
.pg-contant-link02{
	font-size: 13px;
	color: #384BCD;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.pg-contant-link03{
    font-size: 12px;
	color: #333366;
	text-decoration: none;
}
.pg-contant-text01{
	font-size: 12px;
	line-height: 23px;
	color: #259680;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.pg-contant-text02{
    font-size: 12px;
	line-height: 17px;
	color: #666666;
	text-decoration: none;
}
.pg-contant-text03{
    font-size: 13px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
}
.pg-contant-picture{
    height: 90px;
	width: 120px;
}
.pg-contant-money01{
	font-size: 14px;
	line-height: 25px;
	color: #F24D48;
	text-decoration: none;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}
.pg-main-title{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal
}
.pg-tour-td-color01{
    background-color:#D7F8FF;
	font-size: 12px;
	color: #42597D;
	text-decoration: none;
}
.pg-tour-td-color02{
    background-color:#EEFCFF;
	font-size: 12px;
	color: #42597D;
	text-decoration: none;
}
.pg-main-subtitle{
    font-size: 13px; 
	color: #ffffff; 
	text-decoration: none; 
	font-weight: bold
}
.pg-date-search-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#ffffff ;
	width: 280px;
}
.ps-out-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#B0B0B0 ;
	width: 350px;
	height:120px;
}
.ps-out-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:11px; border-color:#B0B0B0 ;
	background-image:          url(/eweb_summittour/images/ps_out_td01_bg.jpg);
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:100px;
	line-height: 20px
}
.ps-out-contant-td02{
	border-collapse: collapse;
	border: solid;
	border-width:1pt;
	font-size:11px;
	border-color:#B0B0B0;
	padding: 1px;
	color: #333333;
	height:21px;
	line-height: 12px;
	background-image:  url(/eweb_summittour/images/go_ms_title_bg.gif);
}
	
.htl-all-table-width{
	width: 960px;
}
.htl-ms-title{
    font-size: 13px; 
	color: #0000FF; 
	text-decoration: none ; 
	line-height: 15px;
	background-color:#ffffff; 
	letter-spacing: 1px;
}
.htl-ms-table-line{
	width: 100%;
	border-top: 8px solid #DDF2FF;
	border-right: 8px solid #DDF2FF;
	border-bottom: 8px solid #DDF2FF;
	border-left: 8px solid #DDF2FF;
}
.htl-search-result-tr{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal;
	background-color:#E7E7E7;
}
.htl-contant-picture{
    height: 90px;
	width: 120px;
}
.htl-contant-picture01{
    height: 70px;
	width: 70px;
}
.htl-contant-text01{
    font-size: 12px;
	line-height: 20px;
	color: #71309C;
	text-decoration: none;
}
.htl-contant-text02{
    font-size: 13px;
	line-height: 20px;
	color: #0033cc;
	text-decoration: none;
}
.htl-contant-text03{
    font-size: 12px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.htl-contant-link01{
    font-size: 12px;
	color: #0000FF;
	text-decoration: none;
	line-height: 16px;
}
.htl-contant-link02{
    font-size: 12px;
	color: #FF0033;
	text-decoration: none;
	line-height: 16px;
	letter-spacing: 1px;
}
.htl-contant-link03{
    font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 16px;
}
.htl-contant-money01{
	font-size: 14px;
	line-height: 25px;
	color: #F24D48;
	text-decoration: none;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}
.htl-td-line-height{
    background-image:          url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.htl-main-title{
    font-size: 15px; 
	color: #0000FF; 
	text-decoration: none; 
	font-weight: normal
}
.htl-contant-table{
    border-collapse: collapse;
    border: solid; border-width:2pt; 
	border-color:#E0E0E0 ;
	width: 100%;
}
.htl-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:0pt 1pt 1pt 0pt;
	font-size:11px; border-color:#E0E0E0 ;
	background-color:#ffffff ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.htl-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:0pt 1pt 1pt 0pt;
	font-size:12px; border-color:#E0E0E0 ;
	background-color:#F5F5F5 ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.htl-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:0pt 1pt 1pt 0pt;
	font-size:12px; border-color:#E0E0E0 ;
	background-color:#ECFCE2 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.htl-contant-td04{
	border-collapse: collapse;
	font-size:12px;
	background-color:#F9F9F9;
	color: #333333;
	line-height: 20px;
	border-top: 0pt none;
	border-right: 0pt none;
	border-bottom: 1pt solid #CCCCCC;
	border-left: 0pt none;
}
.htl-contant-td05 {
	border-collapse: collapse;
	font-size:12px;
	background-color:#DFFFFF;
	color: #333333;
	line-height: 20px;
	border-top: 0pt none;
	border-right: 0pt none;
	border-bottom: 1pt solid #CCCCCC;
	border-left: 0pt none;
}
.htl-main-subtitle{
    font-size: 12px; 
	color: #ffffff; 
	text-decoration: none; 
	font-weight: none
}
.htl-date-search-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#ffffff ;
	width: 100%;
}
.spec01 {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.input01 {
	background-color: #FFFFFF;
	font-size: 11px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border: 1px solid #3169AA;
}
.right-link01 {
	font-size: 12px;
	line-height: 17px;
	color: #000099;
	text-decoration: underline;
}
.right-title {
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.title001 {
	font-size: 15px;
	color: #CC3366;
	text-decoration: none;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
}
.txt01 {
	font-size: 12px;
	color: #186796;
	text-decoration: none;
	line-height: 18px;
}
.link01 {
	font-size: 12px;
	color: #186796;
	text-decoration: none;
}
.link02 { font-size: 12px; color: #317227; text-decoration: none ; line-height: 15px}
.link03 {
	font-size: 11px;
	color: #585858;
	text-decoration: none;
	line-height: 14px;
}
.link04 {
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	line-height: 23px;
	letter-spacing: 1px;
}
.link {
	font-size: 12px;
	line-height: 15px;
	color: #CC3366;
	text-decoration: none;
}
.link05 { font-size: 12px; color: #666666; text-decoration: none ; line-height: 18px}
.box { font-size: 11px;color: #333333;}
.boxtxt {
	font-size: 12px;
	color: #46586F;
	line-height: 15px;
	text-decoration: none;
	padding:20px 0;
}
.br {
	background-repeat: no-repeat;
	background-position: right bottom;
}
.text {
	font-size: 12px;
	line-height: 20px;
	color: #595959;
}
.text2 { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 13px; line-height: normal; }
.text3 {
	font-size: 11px;
	line-height: 15px;
	color: #333333;
}
.txt02 {
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	line-height: 21px;
}
.box2 {
	background-color: #FFFFFF;
	font-size: 11px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border: 1px solid #3169AA;
}
.box2txt { border: 1px #006A33 solid; font-size: 11px; list-style-type: disc; color: #333333; clip: rect( ) ; background-image: url(/eWeb_gogo-demo/images/set-bar5.gif)}
.titlelink {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #E45109;
	text-decoration: none;
	padding-top: 2px;
}
.bartxt {
	font-size: 12px;
	color: #FFFFFF;
	text-decoAration: none;
	padding-top: 3px;
	font-weight: bold;
}
.money {font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 15px; color: #3366CC; text-decoration: none; font-weight: bold}
.moneytitle {
	font-size: 15px;
	color: #333333;
	text-decoration: none;
	padding: 3px;
}
.m9 {
	font-size: 12px;
	color: #186796;
	text-decoration: none;
	scrollbar-face-color: #B4C5E1;
	scrollbar-arrow-color:#333333;
	scrollbar-highlight-color: #F7FAFD;
	SCROLLBAR-DARKSHADOW-COLOR: #333333;
	scrollbar-shadow-color: #B4C5E1;
	scrollbar-3dlight-color: #B4C5E1;
	scrollbar-track-color: #B4C5E1;
	background-color: #EFF4FC;
	height: 78px;
	width: 238px;
	overflow: auto;
}
		  
.b01 { font-size: 12px; color: #5B5A1E; text-decoration: none }
.time {  font-size: 11px; color: #333333; text-decoration: none; line-height: 15px}
.a1 {  font-size: 20px; line-height: 25px; font-weight: bolder; color: #CC3366; text-decoration: none}
.b1 {  font-size: 12px; line-height: 25px; color: #333333; text-decoration: none}
.d1 {
	font-size: 14px;
	color: #0033CC;
}
.e1 {
	font-size: 11px;
	font-family: "Courier New";
	font-weight: bold;
}
.f1 { font-size: 9px}
.g1 {font-size: 12px; line-height: 20px; color: #333333; text-decoration: none}.titleset {
font-size: 18px; color: #009900; text-decoration: none; font-weight: bold
}
.h1 {font-size: 12px; line-height: 25px; color: #333333; text-decoration: none}
.i1 {font-size: 12px; line-height: 15px; color: #333333; text-decoration: none}
.box1 {
font-size: 12px;background-color: #D0E2F0;height: 18px;
}
.login {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 15px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	font-style: italic;
}
.spec01 {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.input01 {
	background-color: #FFFFFF;
	font-size: 11px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border: 1px solid #3169AA;
}
.s1 {
	font-size: 11px;
	color: #0033FF;
}
.s2 {
	font-size: 11px;
	color: #00822B;
	}
.print {
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	line-height: 18px;
}
.text4 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.box3 {
	font-size: 12px;
	background-image:   url(/eWeb_wingon/images/b_2.gif);
	border: none;
	height: 20px;
}
.guestbook_text{
    font-size: 12px;
	line-height: 20px;
	color: #A07ED0;
	text-decoration: none;
}
.guestbook_text02{
    font-size: 12px;
	line-height: 20px;
	color: #0000FF;
	text-decoration: none;
}
.guestbook_link {
	COLOR: #666666;
	TEXT-DECORATION: none;
}
.guestbook_table02 {
	font-size: 9pt; 
	background-color: #FFFFFF;
}
.guestbook_table03 {
	font-size: 9pt;
	background-color: #f0f6fd;
}
.guestbook_table04 {
	font-size: 9pt; 
	background-image:  url(/images/guestbook_bg.gif);}
}
.guestbook_table01 { 
	BORDER: #00215a 1px dashed;
	word-break:break-all;
}
.guestbook_table_td01 {
	font-size: 10pt;
}
.cpn-all-table-width{
	width: 960px;
}
.cpn-ms-title{
    font-size: 13px; 
	color: #0000FF; 
	text-decoration: none ; 
	line-height: 15px;
	background-color:#ffffff; 
	letter-spacing: 1px;
}
.cpn-ms-table-line{
	width: 100%;
	border-top: 8px solid #DDF2FF;
	border-right: 8px solid #DDF2FF;
	border-bottom: 8px solid #DDF2FF;
	border-left: 8px solid #DDF2FF;
}
.cpn-td-line-height{
    background-image:      url(/eweb_summittour/images/line_001.gif);
	height: 15px;
}
.cpn-input-box{
    background-color: #FFFFFF;
	font-size: 11px;
	list-style-type: disc;
	color: #333333;
	clip: rect( );
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.cpn-input-text{
    font-size: 11px;
	color:#333333;
}
.cpn-input-button{
    cursor:hand; 
	background:none; 
	border-style:solid; 
	border-width:0pt;
}
.cpn-search-result-tr{
    font-size: 12px; 
	color: #000000; 
	text-decoration: none; 
	font-weight: normal;
	background-color:#E7E7E7;
}
.cpn-contant-text01{
    font-size: 12px;
	line-height: 17px;
	color: #0000FF;
	text-decoration: none;
}
.cpn-contant-text02{
    font-size: 11px;
	line-height: 17px;
	color: #666666;
	text-decoration: none;
}
.cpn-contant-link01{
    font-size: 12px;
	line-height: 17px;
	color: #0000FF;
	text-decoration: none;
}
.cpn-contant-link02{
    font-size: 12px;
	line-height: 17px;
	color: #2367D8;
	text-decoration: none;
}
.cpn-contant-money01{
    font-size: 12px;
	line-height: 20px;
	color: #ED1313;
	text-decoration: none;
}
.cpn-quick-search-table{
    border-collapse: collapse;
    border: none; border-width:0pt; 
	border-color:none ;
	width: 100%;
}
.cpn-quick-search-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt 0pt 1pt 0pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#F6F6F6 ;
	padding: 0px 0px 0px 0px ;
	color: #333333;
	line-height:23px;
	height:23px;
}
.cpn-quick-search-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt 0pt 1pt 0pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#FFFFFD ;
	padding: 0px 0px 0px 0px ;
	color: #333333;
	line-height:23px;
	height:23px;
}
.cpn-quick-search-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt 0pt 1pt 1pt;
	font-size:12px; border-color:#cccccc ;
	background-color:#FEF4FF ;
	padding: 0px 0px 0px 0px ;
	color: #FF3333;
	line-height:23px;
	height:23px;
}
.cpn-contant-table{
    border-collapse: collapse;
    border: solid; border-width:1pt; 
	border-color:#B0B0B0 ;
	width: 100%;
}
.cpn-contant-td01{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#FFFFFD ;
	padding: 1px 1px 1px 1px ;
	color: #545454;
	height:25px;
	line-height: 20px
}
.cpn-contant-td02{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#F7F7F7 ;
	padding: 1px 1px 1px 1px ;
	color: #666666;
	height:25px;
	line-height: 20px
}
.cpn-contant-td03{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#ffffff ;
	background-color:#E0E1FF ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.cpn-contant-td04-go{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#B0B0B0 ;
	background-color:#FFE4D2 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.cpn-contant-td04-back{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#B0B0B0 ;
	background-color:#FFFAD9 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.cpn-contant-td05{
    border-collapse: collapse;
    border: none; border-width:0pt;
	font-size:12px; border-color:#B0B0B0 ;
	background-color:#ffffff ;
	padding: 1px 1px 1px 1px ;
	color:#333333;
	height:20px;
	line-height: 20px
}
.cpn-contant-td-mouseover{
    border-collapse: collapse;
    border: solid; border-width:1pt;
	font-size:12px; border-color:#B0B0B0 ;
	background-color:#F1FFE8 ;
	padding: 1px 1px 1px 1px ;
	color: #333333;
	height:20px;
	line-height: 20px
}
.cpn-picture {
	height: 90px;
	width: 120px;
}
.tail-text {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	letter-spacing: 1px;
}.html-text01 {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	letter-spacing: 1px;
}
.html-link001 {
	font-size: 13px;
	color: #FF6600;
	text-decoration: none;
}
.html-link02 {
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	text-decoration: none;
}
.html-link03 {
	font-size: 12px;
	color: #144FBA;
	text-decoration: none;
	letter-spacing: 1px;
}
a.top-menu-link01:hover {
	color: #FFFFFF;
}
/*------top---------*/
.top_txt_01{
	width:93px;
	height:89px;
}
.top_txt_02{
	width:100px;
	height:89px;
}
a.oh_01{
	display:block;
	width:93px;
	height:89px;
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	font-size:15px;
	position:relative;
}
a.oh_01:hover{
	background-color:#464748;
	color:#d8004d;
}
a.oh_01 .p01 {
	position:absolute;
	top:35px;
	left:17px;
}
a.oh_02{
	display:block;
	width:100px;
	height:89px;
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	font-size:15px;
	position:relative;
}
a.oh_02:hover{
	background-color:#464748;
	color:#d8004d;
}
a.oh_02 .p02 {
	position:absolute;
	top:35px;
	left:13px;
}
.mb a:link{
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
.mb a:hover{
	font-size:13px;
	color:#F60;
}
.mb a:visited{
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}
/*.logo{
	background:url(/eweb_summittour/images/top_images/index_01.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}*/
/*------top---------*/
/*------tail---------*/
.f_txt_01{
	font-size:13px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}
.f_txt_01 a:link{
	font-size:13px;
	color:#F60;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
.f_txt_01 a:hover{
	font-size:13px;
	color:#FFF;
	padding-left:5px;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
}
.f_txt_01 a:visited{
	font-size:13px;
	color:#F60;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
.design{
	padding-right:10px;
}
/*------tail---------*/
a:active {
  outline:none;
}
:focus {
  -moz-outline-style:none;
}
/*===================Module/M_S.asp======================*/
.search01{
	border:solid #cccccc 1px;
	padding:5px 10px 0px 10px;}
.search_text01{
  position:relative;
  top:3px; 
   letter-spacing:1px;
   padding-left:18px;
   padding-left:10px \9;
   line-height: 15px;
   font-family: "新細明體",Arial,Helvetica, sans-serif;
   font-size: 13px;
   color:#333333;}
   
   
/*--START: member center - order search --*/
.member-order-list{width:100%; margin:0 0 10px; padding:0; border-collapse: collapse; border: #e6e6e6 1px solid; background:#fff; font-size:13px; text-align:left;}
.member-order-list tr:hover {background: #f9f9f9;}
.member-order-list th {white-space: nowrap; border-collapse: collapse; padding: 5px 8px; height: 24px; line-height: 24px; border:#fff 1px solid; background: #e9f6fc; color: #617492; font-weight:bold; text-align:center; font-size:13px;}
.member-order-list td {border-collapse: collapse; padding: 5px 8px; color: #454545; line-height: 20px; border-bottom: #eee 1px solid; font-size:13px;}
.member-order-list h3 {height:24px; padding:2px 5px; line-height:24px; background: #eee; color: #454545; font-size:15px; font-weight:bold; text-align:left;}
.member-order-filter {margin:8px 0 3px; font-size:13px;}
.member-order-page {background:#f3f3f3; height:30px; text-align:center;}
.member-order-page td {padding:5px 0 1px;}
.member-contant-text01 ul, .member-contant-text01 li { list-style:disc; text-align:left; margin-left: 20px;}
.member-order-wrap {clear:both; border: #e9f6fc 8px solid; padding:10px; margin:5px auto 10px; background:#fff;}
.member-order-detail {width:100%; margin:0 0 10px; padding:0; border-collapse: collapse; font-size:15px;}
.member-order-detail tr:hover {background: #f9f9f9;}
.member-order-detail td {border-collapse: collapse; padding: 6px 8px 3px; color: #454545; line-height: 20px; font-size:15px; }
.member-order-bg01 {padding: 5px 8px; height: 30px; line-height: 30px; background:#fffde6; font-weight:bold;}
.member-order-bg02 {padding: 5px 8px; height: 30px; line-height: 30px; background:#e7f3ff;}
.member-order-text01 {color:#F00; font-size:15px; letter-spacing: 1px;}
.member-order-text02 {color:#003da1; font-weight:bold; letter-spacing: 1px;}
.member-order-text03 {font-size:15px;} 
.member-order-btn-wrap {width:100%; margin:20px auto 5px; padding:0; list-style: none;}
.member-order-btn-wrap li {list-style:none;}
.member-order-btn-wrap .col_left {float:left;}
.member-order-btn-wrap .col_right {float:right; text-align:right;}
.member-order-btn-wrap a {display:inline-block; margin:2px 5px;}
.member-order-btn-wrap a:hover {opacity:0.7; filter:alpha(opacity=70);}
.btn_back {display:inline-block; outline: none; cursor:pointer; text-align:center; text-decoration:none; margin:0 .1em; padding:.8em 1.4em; text-shadow: 0 1px 1px rgba(0, 0, 0, .3);  background: #e4e4e4; background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e4e4e4)); background: -webkit-linear-gradient(top, #fefefe, #e4e4e4); background: -moz-linear-gradient(top, #fefefe, #e4e4e4); background: -ms-linear-gradient(top, #fefefe, #e4e4e4); background: -o-linear-gradient(top, #fefefe, #e4e4e4); background-image: -ms-linear-gradient(top, #fefefe 0%, #e4e4e4 100%); color: #3a3a3a; font-size: 13px; border:#b3b3b3 1px solid;}
.btn_back:hover{color:#f6f6f6;  background:#999;}
.btn_search {display:inline-block; outline: none; cursor:pointer; text-align:center; text-decoration:none; margin:0 .1em; padding:.3em 1.2em; text-shadow: 0 1px 1px rgba(0, 0, 0, .3);  background: #3395CD; background: -webkit-gradient(linear, left top, left bottom, from(#85C1E8), to(#3395CD)); background: -webkit-linear-gradient(top, #85C1E8, #3395CD); background: -moz-linear-gradient(top, #85C1E8, #3395CD); background: -ms-linear-gradient(top, #85C1E8, #3395CD); background: -o-linear-gradient(top, #85C1E8, #3395CD); background-image: -ms-linear-gradient(top, #85C1E8 0%, #3395CD 100%);color: #ffffff;   font-size: 13px;}
.btn_search:hover {color:#fff;  background:#1ba2d4;}
/*--END: member center - order search --*/
/*.forgin-table{ margin:10px;}*/
.forgin-table td{ padding:2px 0;}
td.travel_enlarge img{ width:330px; height:180px; margin:5px 10px;}



#abgne_float_ad {
	display: none;
	position: absolute;
}
#abgne_float_ad .abgne_close_ad {
	display: block;
	text-align: right;
	cursor: pointer;
	font-size: 12px;
}
#abgne_float_ad a img {
	border: none;
}
div.bigDiv {
	height: 3000px;
}

/*==================搜尋引擎V5版CSS=====================*/
.list .btn, .list .label {border-radius: 0;}
.list .nav {float: none;}
.list .nav .label.label-primary, .list .sequence .label.label-primary, .list .view-mode .label.label-primary {
	background-color: #74a73a;
  	border-color: #176133;
}
.list .nav .label.label-primary:hover, .list .sequence .label.label-primary:hover, .list .view-mode .label.label-primary:hover {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .nav .label.label-primary:focus, .list .sequence .label.label-primary:focus, .list .view-mode .label.label-primary:focus {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .nav .label.label-warning, .list .sequence .label.label-warning, .list .view-mode .label.label-warning {
	background-color: #74a73a;
  	border-color: #176133;
}
.list .nav .label.label-warning:hover, .list .sequence .label.label-warning:hover, .list .view-mode .label.label-warning:hover {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .nav .label.label-info, .list .sequence .label.label-info, .list .view-mode .label.label-info {
	background-color: #74a73a;
  	border-color: #176133;
}
.list .nav .label.label-info:hover, .list .sequence .label.label-info:hover, .list .view-mode .label.label-info:hover {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .godc2-search .form-btn input.btn-success {
  background-color: #74a73a;
  border-color: #176133;
}
.list .godc2-search .form-btn input.btn-success:hover {
  background-color: #5c8434;
  border-color: #176133;
}
.list .product .btn-success {
	background-color: #74a73a;
  	border-color: #176133;
}
.list .product .btn-success:hover {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .products .product .product-name  {
	width: 363px !important;
}
.list .products .product.b2b .product-price  {
	width: 124px !important;
}
.list .products .product .product-name a {
	color: #444;
}
.list .products .product .product-name a:hover {
	color: #444;
}
.list .products .product.product-item .product-type span.label-info {
	background-color: #74a73a;
  	border-color: #176133;
}
.list .products .product .product-type span.label-warning {
	background-color: #5c8434;
  	border-color: #176133;
}
.list .products .product .product-info a.text-warning {
	/*color: #5bc0de;*/
	color: #74a73a;
}
.list .products .product.product-item .product-total span.number {color: #444;}
.list .products .product.product-item .product-join span.number {color: #444;}
.list .products .product.product-item .product-bargain span.number {color: #444;}
.list .products .product.product-item .product-available span.number {color: #444;}
.list .products .product.product-item .product-waiting span.number {color: #444;}


.list .products .product.product-item .product-date a.more {background-color: #74a73a;}
/* ===================搜尋引擎V5版CSS End=================== */
.list .products .product-item .search-order{ color:#ccc !important;}
.list .products .product-item .product-date{ font-weight:normal !important; color:#444 !important;}
.list .products .product .product-name a{ font-weight:normal !important; color:#444 !important;}
.list .products .product .product-date{ width:10% !important; font-size:15px !important;}
.list .view-mode{ width:190px !important;}
#StyleMain #FORM1 .godc2-search .area select.darea{width:130px !important;}
#StyleMain #FORM1 .godc2-search .area select.sarea{ width:130px !important;}
#StyleMain #FORM1 .godc2-search input.start, #StyleMain .godc2-search input.end{ width:120px !important;}


table.go-all-table-width > tbody > tr > td > div#Main > div#Main1 > table > tbody > tr > td > table.go-contant-table {margin-bottom: 30px !important;}

.list .result {background: #FFF;}
.list .godc2-search .area{ color:#333 !important; overflow:inherit !important; margin:auto !important;}