@charset "utf-8";
/* 預設共用 */
a.btn-success {background-color: #0099a1; border-color: #0099a1;}
a.btn-success:hover {background-color: #00767c; border-color: #00767c;}

.dreammenu{
    border-right:2px solid rgba(0, 153, 161, 0.46);
}
.dreammenu a{
    color:#0099a1;
}
.dreammenu a:hover{
    color:#00767c;
}
.dreammenu a h2{
    font-size:22px;
    font-weight:bold;
    margin-bottom:0;
    padding-bottom:0;
}
.dreammenu a h3{
    font-size:14px;
    font-weight:bold;
    margin-top:5px;
    padding-top:0;
    letter-spacing:3px;
}
article{
    background-color: #FFF;
}
section{
    /*padding: 30px 0;*/
}
.dream-article{
    padding-top: 30px;
}
.dream-article h2{
    font-size: 30px;
    font-weight: bold;
    font-family: '微軟正黑體';
    color: #0099a1;
}
.dream-article h2 span{
    font-weight:400;
    font-size: 20px;
}
.dream-article h3{
    font-size: 24px;
    font-weight: bold;
    font-family: '微軟正黑體';
}

.dream-article p{
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    padding: 10px 15px 10px 0;
    color: #333;
}
div.dreamthree{
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    text-align: center;
}

div.dreamthree h3{
    font-weight:bold;

}
div.dreamthree p{
    font-size:16px;
    color:#666666;
    line-height:24px;
    text-align:left;
    margin: 10px;
    }
.dream-border{
    margin: 15px 0 35px 0;
    width: 80px;
    border-top:3px solid #0099a1;
}
table.dreamtable .dream-table-trl{
    background-color: #dacba7;
    color: #674a07;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
.dreamtable{
    font-size:16px;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
}
.dreamtable thead{
    background-color: #0B9BAC;
    color: #fff;
    font-size:20px;
}

.dreamtable tbody{
    color: #666;
}
.dreamtable thead tr td,.dreamtable thead tr th{
    border:1px solid #FFF;
    vertical-align: middle;
    text-align: center;
}
.dreamtable tbody tr td,.dreamtable tbody tr th{
    border-bottom:1px solid rgba(226, 210, 173, 0.45);
    vertical-align: middle;
    text-align: center;
    background-color: rgba(226, 210, 173, 0.27);

}
.red{
    color: #F00;
}
.green{
    color: #00af00;
}
.dreamroom{
    padding: 15px;
}
.dreamroom h3{
    color: #0B9BAC;
    letter-spacing: 1px;
}
.dreamroom hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #0B9BAC;
}
.dreamroomd{

}
section.module_content{
    padding: 0;
}

.layouypadding{
    padding: 20px 0;
}