@charset "utf-8";


/*表格樣式設定*/
table.blueTable {border: 1px solid #1C6EA4;	background-color: #cfe592;	width: 100%;height: px;	text-align: left;border-collapse: collapse;}
table.blueTable td, table.blueTable th {padding: 3px 2px;border-top-width: 2px;border-right-width: 2px;border-bottom-width: 2px;border-left-width: 2px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #cfe592;border-right-color: #cfe592;border-bottom-color: #cfe592;border-left-color: #cfe592;text-align: center;}
table.blueTable tbody td {font-size: 16px;padding: 8px; background-color: #f1f9e1;}
table.blueTable tr:nth-child(even) {font-size: 18px;}
table.blueTable thead {background: #1C6EA4; background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%); background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%); background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);  border-bottom: 2px solid #444444;}
table.blueTable thead th {font-size: 18px;font-weight: bold;color: #444;text-align: center;background-color: #cfe592;height: 60px;vertical-align: middle;}
table.blueTable tfoot td {font-size: 16px;height: 40px;text-align: center;vertical-align: middle;}

/**行程特色相關設定**/
/*內文設定*/
.product_types.OtherInstructions.other_content.day_style_1 p{font-size: 16px;line-height: 1.5;color: #444;}
/*li文字設定*/
.product_types.OtherInstructions.other_content.day_style_1 li{font-size: 16px;line-height: 1.5;color: #444;}

/**模組圖片寬度設定**/
.day_style_1.day_style_2.day_style_3.day_style_4.day_style_5.day_style_6 img{width: 100%;height: auto;}
.day_style_4.golo img{width: 50%;}
.day_style_9{margin: 0 auto 0 auto;}

/*每日行程相關設定*/
/*內文設定*/
div.features_content.day_style_1,div.features_content.day_style_2,div.features_content.day_style_3,div.features_content.day_style_4,div.features_content.day_style_5,div.features_content.day_style_6 p{font-size: 15px;/*line-height: 30px;*/}


/**銷售特色、景點特色、特別安排標題一**/
	.Title_1 {margin-bottom: 10px;}
	div.features_content.Title_1 h2{font-size: 26px;text-align: center;font-weight: bold;}
	div.features_content.Title_1 hr{margin-top: 5px;margin-bottom: 3px;border-top: 2px solid #83b53c;width: 100%;margin-bottom: 10px;}
	div.features_content.Title_1 p{font-size:18px;text-align:center;color: #FF0000;margin-bottom: 10px;}

/**銷售特色、景點特色、特別安排標題二**/
	.Title_2 {margin-bottom: 10px;}
	div.features_content.Title_2 h2{font-size:20px;text-align:center;font-weight: bold;}
	div.features_content.Title_2 hr{margin-top: 2px;margin-bottom: 3px;border-top: 2px solid #3333;width: 100%;}
	div.features_content.Title_2 p{font-size:18px;text-align:center;color: #FF0000;margin-bottom: 10px;}

/**一張圖片淡入淡出現景點介紹模組**/
	div.features_content.day_style_1 h1{font-size: 22px;color: #ffffff;position: relative;right: -5px;bottom: -5px;padding: 5px 20px;text-shadow: black 0.1em 0.1em 0.2em; font-weight: bold;}
	div.features_content.day_style_1 p{font-size: 15px;/*line-height: 30px;*/}

/**二張圖片景點介紹**/
	div.features_content.day_style_2 h1{font-size: 22px;font-weight: bold;color: #ffffff;position: relative;right: 5px;bottom: -5px;padding: 5px 20px;text-shadow: black 0.1em 0.1em 0.2em;}
	.day_style_2 img{margin-top: -50px;width:100%;}

/**三張圖片景點介紹**/
	div.features_content.fadeInUpShort.go.day_style_3 h1{font-size: 22px;font-weight: bold;color: #ffffff;position: relative;right: 5px;bottom: -5px;padding: 5px 20px;text-shadow: black 0.1em 0.1em 0.2em;}
	div.features_content.fadeInUpShort.go.day_style_3 img{margin-top: -50px;}

/**飯店介紹**/
	div.features_content.fadeInUpShort.go.day_style_4.h2_1 h2{font-size: 38px;text-align:center;}
	div.features_content.fadeInUpShort.go.day_style_4.h2_2 h2{font-size:34px;text-align:center;}
	div.features_content.fadeInUpShort.go.day_style_4.h2_3 h2{font-size:18px;text-align:center;margin-top: -20px;}
	div.features_content.fadeInUpShort.go.day_style_4.hr_1 hr{padding-bottom: 6px;margin: 0 auto;border-top: 2px solid #999;width: 40%;}
	div.features_content.fadeInUpShort.go.day_style_4.hr_2 hr{margin-top: 2px;margin-bottom: 3px;border-top: 2px solid #3333;width: 100%;}
	div.features_content.fadeInUpShort.go.day_style_4 p{font-size: 15px;/*line-height: 30px;*/ margin-bottom: 15px;}
	div.features_content.fadeInUpShort.go.day_style_4 {padding-top: 10px;}

/**行程特色內文備註**/
	div.features_content.fadeInUpShort.go.note_2 h2{font-size: 20px;color: #FF0000;padding: 0;margin:0;font-weight:bold;}
	div.features_content.fadeInUpShort.go.note_2 p{font-size: 18px;color: #FF0000;line-height: 1.5;margin-top: 2px;}
	div.features_content.fadeInUpShort.go.note_2.content{background:#eeeeee; border-right:1px solid #cccccc; border:1px solid #cccccc; margin:10px; padding:15px}
	div.features_content.fadeInUpShort.go.note_2 li.A {margin-left:10px;color: #FF0000;line-height: 1.5;}
	div.features_content.fadeInUpShort.go.note_2 li.B {margin-left:10px;color: #FF0000;line-height: 1.5;}

/**二張圖片景點介紹(動畫)**/
	div.features_content.fadeInUpShort.go.day_style_2_2 h1{font-size: 22px;font-weight: bold;color: #ffffff;position: relative;right: 5px;bottom: -5px;padding: 5px 20px;text-shadow: black 0.1em 0.1em 0.2em;}

/** 優惠方案 **/
	div.features_content.fadeInUpShort.go.product_types .Concessions {width: 100%; display: table; padding: 10px;}
	div.features_content.fadeInUpShort.go.product_types .Concessions > h4 i {margin-right: 5px;}
	div.features_content.fadeInUpShort.go.product_types .Concessions .concessions_content {width: 100%; display: table; border: 1px solid #e1e1e1; padding: 20px;}
	div.features_content.fadeInUpShort.go.product_types .Concessions .concessions_content p {line-height: 25px;}
	div.features_content.fadeInUpShort.go.product_types .Concessions .concessions_content img {width: 100%;}

/**特別說明&貼心提醒**/
	.product_types .DailyItinerary .every_day .day_content.daily_box_note2{background:#eeeeee; border-right:1px solid #cccccc; border:1px solid #cccccc;border-radius: 10px;padding: 10px;}
	.product_types .DailyItinerary .every_day .day_content.daily_box_note2 h2{color:#ff0000;font-size: 20px;color: #FF0000;}
	.product_types .DailyItinerary .every_day .day_content.daily_box_note2 li{font-size: 15px;margin-left:10px;line-height: 1.5;}
	.product_types .DailyItinerary .every_day .day_content.daily_box_note2 ul,ol{margin-left: -10px;}
