@charset "utf-8";
.infotitle{
	background-color: #642b8d;
	height: 200px;
	display: block;
	text-align: center;
}
/*設定position: relative;	transform:translateY(-50%);	top:50%;高度   垂直置中*/
.infotitle .infoh1{
	position: relative;
	transform:translateY(-50%);
	top:50%;
}
/**************/

.infotitle .infoh1 h1{
	color: #FFF;
}
.infotitle p{
	color: #fff;
}
.infocard{
	background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.5);
    padding: 30px 15px 40px 15px;
    display: table;
}
.infocard h3{
	text-align: center;
	font-size: 20px;
}
.infocard h4{
	text-align: left;
	font-size: 16px;
}
.infocard p{
    padding: 15px;
}
.infocard p i{ 
	text-align:center;
	font-size: 88px;
	margin: 0 auto;
}
.infogts p{
	font-size: 15px;
	color: #555;
	line-height: 24px;
	padding: 0px 0 15px 0;
}

/*description  隱私權說明  */
.description h1{
	font-size: 30px;
	text-align: center;
	color:#642b8d;
}
.description h2{
	font-size: 20px;
	color: #642b8d;
}
.description p{
	font-size: 15px;
	color: #555;
	line-height: 24px;
	padding: 0px 0 15px 0;
}
.bookingbtn{
	text-align: center;
	margin: 0 auto;
	padding: 30px 0;
}
.center{
	margin: 0 auto;
	text-align: center;
}
.container-fluid{
	padding-top: 157px;
}
.about{
	text-align: center;
	padding: 20px 0;
}
.about h4{
	text-align: center;
}
.about  i{
	text-align: center;
	margin: 0 auto;
	font-size: 60px;
	color: #999;
}
.sitemap div{
	padding: 30px;
}

.passporttitle{
	background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.5);
    padding: 30px 15px 40px 15px;
    display: table;
    border-radius: 5px; 
    border: 1px solid #e1e1e1;
    width: 100%
}
.passporttitle ul  {
	padding-left: 20px;
}
.passporttitle ul li {
	padding-left: 5px;
	list-style: circle;
	color: #642b8d;
}
.passporttitle ul li a{
    color: #333;
    line-height: 30px;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.37);
}
.passportinfo{
	background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.5);
    padding: 15px 15px 40px 15px;
    display: table;
    border: 1px solid #e1e1e1;
    border-radius: 5px; 
    width: 100%
}
.passportinfo h2{
	color:#333;
    background-color: #f7efe3;
    padding: 10px;
	letter-spacing: 2px;
}
.passportinfo p{
	padding: 10px;
	font-size: 16px;
	color: #F00;
	letter-spacing: 1px;
	border-bottom: 1px dotted #DDD;
	line-height: 24px;
}
.lipassporttitle{
	color:#642b8d;
	padding: 5px 0;
	font-weight: bold;
}
.passportinfo ul{
    background-color: rgba(241, 225, 37, 0.06);
    padding: 10px;
	}

.passportinfo ul li{
	list-style: none;
	font-size: 16px;
	padding-left: 15px;
	line-height: 28px;
	}
.passporttable{
	margin:20px 30px 30px 30px;
	border: 1px solid #666;
	font-size: 16px;
	line-height: 24px;
	width: 90%;
	text-align: center;
}
.passporttable td{
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
}

.purple{
	color:#7e34b3;
}
.infoh2 a{
	text-align: center;
	margin: 0 auto;
}
.ctb h3{
	background-color: #009444;
	color:#FFF;
	margin: 0;
    line-height: 35px;
    font-family: "微軟正黑體";
}
.fib h3{
	background-color: #00563A;
	color:#FFF;
	margin: 0;
    line-height: 35px;
    font-family: "微軟正黑體";
}
.tcb h3{
	background-color: #da2128;
	color:#FFF;
	margin: 0;
    line-height: 35px;
    font-family: "微軟正黑體";
}
.ae h3{
    background-color: #23ADE3;
    color:#FFF;
    margin: 0;
    line-height: 35px;
    font-family: "微軟正黑體";
}
.ctbc h3{
    background-color: #008087;
    color:#FFF;
    margin: 0;
    line-height: 35px;
    font-family: "微軟正黑體";
}
.business ul{
	background-color: #FFF;
}

.business ul li{
	font-size: 16px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(153, 153, 153, 0.39);
    background-color: #FFF;
    list-style: none;
    letter-spacing: 1px;
}
.businessrab a{
	color: #333;
	width: 100%;
	height: 100%;
}

/*----------------銀行合作案----------*/
.aparea h2{
    font-size:24px;
    font-weight:bold;
    padding:5px
}
.aparea h3{
    font-size:20px;
    font-weight:bold;
    line-height: 30px;
    /*color: #4267b2;*/
    padding-left:20px;
}
.aparea p{
    font-size: 18px;
    color:#333;
    padding-left:20px;
    line-height: 28px;
}
.aparea table{
    font-size: 18px;
    color:#333;
    padding-left:20px;
    line-height: 28px;
}

.aparea span{
	color:#F00;
}

.aptext{
  padding: 20px;
  background-color: #f7efe3;
}
.aptext h4{
  font-size: 18px;
  font-weight: bold;
  color: #82674f;
  text-align: left;
  padding: 10px 0;
}
.aptext span{
  font-size: 16px;
  font-weight: bold;
  color: #96775c;
  padding-right: 5px;
}
.aptext p{
  text-align: left;
  padding: 5px 0;
  font-size: 16px;
  color: #a98a5c;
}
.aptext .apuline{
	font-size: 20px;
}
.activitypage a.btn-success{background-color: #7936a9; border-color: #642b8d;}
.activitypage a.btn-success:hover {background-color: #560169; border-color: #430052;}

.bank section div.infocard a{background-color: #7936a9; border-color: #642b8d;color: #FFF;
display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}
.bank section div.infocard a:hover{background-color: #560169; border-color: #430052;color: #999;
display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}

.navbar-inverse .navbar-toggle{background-color: #3e014c;}
.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {background-color: #380144;}


