﻿@charset "utf-8";
/* CSS Document */
.metropolis{width:790px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.title_box {width:790px;position:relative; height:50px;margin:0px 0px 15px 0px;padding:0px; text-align:left;}
.title_box .left_box {width:790px;float:left;position: relative;display: table;border-bottom: 2px solid #005bac;overflow: hidden;height: 50px;}
.title_box .left_box h1{/*width:790px;*/color:#005bac;font-size: 24px;text-align:left;/* margin:0px 0px 0px 50px; */padding:0px;/* line-height:50px; */letter-spacing: 1px;}
.title_box .left_box img{position:absolute;top: 10px;left: 10px;}
.product_all {width:790px;/* display:table; */}
.product_box {width:259px; display:table; border:1px solid #dcdcdc; background:#FFF; padding:7px; position:relative; float:left; margin:0 6px 7px 0;}
.product_img {width: 243px; height: 191px;}
.product_img img {width: 243px; height: 191px;}
.product_name {line-height:35px;}
.product_name a {font-size:18px; color:#030303; text-decoration:none;font-weight:700;}
.product_name a:hover {color:#F60; font-weight:700;}
.product_description {font-size: 18px;color: #e6f1f3;/*height:40px;*/line-height:20px;}
.product_price {/* width:100%; */font-size:14px;color: #464646;text-align:right;}
.product_price span {font-size:38px; color:#fc0707;}
.departure_date {/* display: none; */font-size:14px;color:#7e7b7b;}
.departure_date a {font-size:14px; color:#7e7b7b; text-decoration:none;}
.departure_date a:hover {color:#F60;}
.product_offer {display: none;/* position:absolute; */top:160px;/* background: rgba(0,0,0,0.6); *//* width:243px; */line-height: 30px;color: #FFF;/* padding: 0 5px; */}
.product_box:nth-child(3),
.product_box:nth-child(6),
.product_box:nth-child(9),
.product_box:nth-child(12),
.product_box:nth-child(15),
.product_box:nth-child(18),
.product_box:nth-child(21),
.product_box:nth-child(24),
.product_box:nth-child(27),
.product_box:nth-child(30) {margin:0 0 7px 0;}
/***** ¢XI?o|! *****/
.skin_module .metropolis {width: 100%;padding: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.skin_module .metropolis * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/** ?DAD **/
.skin_module .metropolis .title_box {width:100%;position:relative;height:50px;margin:0px 0px 15px 0px;padding:0px;text-align:left;display: none;}
.skin_module .metropolis .title_box .left_box {width:100%;float:left;position: relative;display: table;border-bottom: none;overflow: hidden;height: 50px;/* background: #efefef; */border-radius: 5px;}
/* ?DAD?a|r */
.skin_module .metropolis .title_box .left_box h1{text-align: left;margin-bottom: 7px;margin-top: 19px;padding-bottom: 13px;font-weight: 100;font-weight: bold;/* width: 100%; */color: #687074;/* max-width: 150px; *//* position: absolute; *//* height: 4px; */border-bottom: 2px solid #76b800;}


.skin_module .metropolis .title_box .left_box h1:after {/* right: 1%; */content: ' ';width: 92%;position: absolute;height: 6px;border-top: 2px solid #a6a6a7;/* border-bottom: 1px solid #DDD; */top: 87%;margin-left: 0px;}
.skin_module .metropolis .title_box .left_box h1:before {/* left: 5%; *//* content: ' '; *//* width: 19%; *//* position: absolute; *//* height: 4px; *//* border-top: 2px solid #b1d24f; *//* border-bottom: 1px solid #DDD; *//* top: 55%; */}



/* ?DADicon */
.skin_module .metropolis .title_box .left_box img{position:absolute;top: 0px;left: 0px;display: none;}
/** ¢Dt3!2¢G?~ **/
.skin_module .metropolis .product_all {width:100%;/* display:table; */}
/* 3a?@2¢G?~ */
.skin_module .metropolis .product_box {width: 32%;display:table;border:1px solid #dcdcdc;background:#FFF;padding:5px;position:relative;float:left;margin: 0px 0px 20px 10px;}
/* 1I?u */
.skin_module .metropolis .product_img {width: 100%;height: 352px;/*height: 100%;*/overflow: hidden;}
.skin_module .metropolis .product_box:hover .product_img img {-webkit-transform:scale(1.2) rotate(0deg); -ms-transform:scale(1.2) rotate(0deg); transform:scale(1.2) rotate(0deg);}
.skin_module .metropolis .product_img img {width: 100%;height: 352px;-webkit-transition: all 0.6s ease;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;}
/* 2¢G?~|WoU */
.skin_module .metropolis .product_name {line-height:28px;margin: 10px; text-align: justify;}
.skin_module .metropolis .product_name a {display: block;font-size:18px;height: 50px;color:#313131;text-decoration:none;font-weight: normal;-webkit-transition: all 0.6s ease;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;}
.skin_module .metropolis .product_name a:hover {color: #74a73a;font-weight:normal;-webkit-transition: all 0.6s ease;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;}
/** |U¢XE?W?[?a|r **/
.skin_module .metropolis .product_offer {/*opacity: 0.0;*/position:absolute;top: 8px;/* bottom: 5px; *//* background: rgba(230,20,25,0.8); */width:96.7%;font-size: 14px;color:#FFF;height: 24px;line-height: 24px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;/* -webkit-transition: all 0.6s ease; */-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;}
.skin_module .metropolis .product_offer span {/* background: #e7141a; */padding: 2px 5px;line-height: 28px;margin: 4px;color: #FFF;-webkit-border-top-left-radius: 10px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;/* border-bottom-right-radius: 10px; */}
/*.skin_module .metropolis .product_box:hover .product_offer {opacity: 1.0; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;}*/
/** ?u?u **/
.skin_module .metropolis .product_price {width:100%; font-size:14px; color:#0000FF text-align:right;}
.skin_module .metropolis .product_price span {font-size:28px;color: #E91E63;background: white;padding-left: 10px;}
/*.skin_module .metropolis .product_price span:before {
    content: "$";
    color: #464646;
    font-size: 20px;
}*/
/* ¢DX£go?e¡¦A */
.skin_module .metropolis .departure_date {/* display: none; */font-size:14px;height: 40px;color:#7e7b7b;padding: 5px 10px;}
.skin_module .metropolis .departure_date a {font-size:14px; color:#0000FF; text-decoration:none;}
.skin_module .metropolis .departure_date a:hover {color:#F60;}
/* Au¡¦f?eR¡Ñ16|r */
.skin_module .metropolis .product_description {display: block;position:absolute;top: 64%;background: rgba(0,0,0,0.6);width: 97.0%;line-height: 30px;color: #FFF;padding: 0 5px;height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/***** |Cai|! *****/
.skin_list .metropolis {width: 100%;padding: 0 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.skin_list .metropolis * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/** ?DAD|WoU **/
.skin_list .metropolis .title_box {width:100%;position:relative;height:50px;margin:0px 0px 15px 0px;padding:0px;text-align:left;display: table;}
.skin_list .metropolis .title_box .left_box {width:100%;float:left;position: relative;display: table;border-bottom: none;overflow: hidden;height: 50px;/* background: #efefef; */border-radius: 5px;}
/* ?DAD?a|r */
.skin_list .metropolis .title_box .left_box h1{text-align: left;margin-top: 0;margin-bottom: 7px;margin-top: 19px;padding-bottom: 13px;font-weight: bold;color: #687074;border-bottom: 2px solid #76b800;font-size: 24px;}
.skin_list .metropolis .title_box .left_box h1:after {/* right: 1%; */content: ' ';width: 92%;position: absolute;height: 6px;border-top: 2px solid #a6a6a7;top: 86%;margin-left: 0px;}
/* ?DADicon */
.skin_list .metropolis .title_box .left_box img{position:absolute;top: 0px;left: 0px;display: none;}
/** ¢Dt3!2¢G?~ **/
.skin_list .metropolis .product_all {width:100%; display:table; margin: 0 -10px;}
/* 3a?@2¢G?~ */
.skin_list .metropolis .product_box {width:100%;display:table;border: none;border-bottom: 1px solid #e9f0f4;height: 92px;background:#FFF;/* padding: 0px 0px 30px 0px; */position:relative;float:none;/* margin: 0 10px 10px; */}
/* 1I?u */
.skin_list .metropolis .product_img {width: 243px; height: 191px; display: none;}
.skin_list .metropolis .product_img img {width: 243px; height: 191px;}
/* 2¢G?~|WoU */
.skin_list .metropolis .product_name {line-height:30px;width: 55%;float: left;margin-right: 10px;}
.skin_list .metropolis .product_name a {font-size:18px;color:#313131;text-decoration:none;font-weight:normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;padding-right: 5px;}
.skin_list .metropolis .product_name a:hover {color: #588010;font-weight:normal;}
/** |U¢XE?W?[?a|r **/
.skin_list .metropolis .product_offer {font-size:14px;right: 100px;color:#e7141a;height: 24px;width: 40%;/* top: 60px; *//* bottom: 0; */line-height:25px;background:none;/* margin: 10px 0; */overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.skin_list .metropolis .product_offer span {/* background: #e7141a; */padding: 1px 5px;margin-right: 4px;color: #FFF;-webkit-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-moz-bor;-moz-border-radius: 5px;adius: 5px;border-radius: 5px;}
/** ?u?u **/
.skin_list .metropolis .product_price {width: 120px;font-size: 0px;color: #ffffff;text-align:right;float: right;position: absolute;right: 0;bottom: 0;}
.skin_list .metropolis .product_price span {font-size: 20px;color: #E91E63;display: table;/* position: absolute; *//* right: 0; *//* top: 32px; */width: inherit;}
/*.skin_list .metropolis .product_price span:before {content: "$";font-size: 16px;}
.skin_list .metropolis .product_price span:after {content: "起";font-size: 16px;}*/
/* ¢DX£go?e¡¦A */
.skin_list .metropolis .departure_date {/* display: block; */font-size:14px;color:#7e7b7b;/* display: none; */width: 100%;position: absolute;bottom: 0px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.skin_list .metropolis .departure_date a {font-size:14px; color:#0000FF; text-decoration:none;}
.skin_list .metropolis .departure_date a:hover {color:#F60;}
/* Au¡¦f?eR¡Ñ16|r */
.skin_list .metropolis .product_description {display: block;width: 400px;float: right;/* position:absolute; *//* top:60px; *//* background: rgba(0,0,0,0.6); */width: 30%;line-height: 30px;color: #367cb8;/* padding: 0 5px; */overflow: hidden;}
/*.skin_list .metropolis .product_all .product_box:nth-child(1) .product_name:before {content: "¦æµ{¦WºÙ";color: #464646 !important;width: 100%;display: table;font-weight: bold !important;font-size: 20px !important;padding-bottom: 20px;}
.skin_list .metropolis .product_all .product_box:nth-child(1) .product_description:before {content: "¦æµ{¯S¦â";color: #464646 !important;width: 100%;display: table;font-weight: bold !important;font-size: 20px !important;padding-bottom: 20px;}
.skin_list .metropolis .product_all .product_box:nth-child(1) .product_price:before {content: "¦æµ{°â»ù";color: #464646 !important;width: 100%;display: block;font-weight: bold !important;font-size: 20px !important;padding-bottom: 20px;}
*/
.skin_list .metropolis .product_description p {color: #367cb8;}
.skin_list .metropolis .product_description p:before {content: "";background: url(/eweb_joanna/autopage/images/product_star.jpg) no-repeat center;padding: 10px;margin-right: 3px;}
/** ¡ÂScw¢DX£go|a **/
/*.south_tours .skin_module .metropolis .product_box {width: 31.4%}
.south_tours .skin_module .metropolis .title_box .left_box h1 {font-size:0;}
.south_tours .skin_module #tab1 .metropolis .title_box .left_box h1:after {content:'?e¢D?';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab2 .metropolis .title_box .left_box h1:after {content:'Au¢Xe';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab3 .metropolis .title_box .left_box h1:after {content:'??¢Xe?j3¢X';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab4 .metropolis .title_box .left_box h1:after {content:'aF?n¡LE';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab5 .metropolis .title_box .left_box h1:after {content:'?U?w';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab6 .metropolis .title_box .left_box h1:after {content:'|e¡LE/?n¡LE/??¡LE/?D?w';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab7 .metropolis .title_box .left_box h1:after {content:'?D?w/¡ÂA|eAo';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab8 .metropolis .title_box .left_box h1:after {content:'??aF';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab9 .metropolis .title_box .left_box h1:after {content:'?u¢Xe/¢D[R3?j';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab10 .metropolis .title_box .left_box h1:after {content:'?O¢D-?v/|L?¡Ñ?vRuRq';font-size: 25px;display: table;float: left;}
.south_tours .skin_module #tab11 .metropolis .title_box .left_box h1:after {content:'¢Dt2y?l?u';font-size: 25px;display: table;float: left;}

.south_tours .skin_module .metropolis .product_img {width: 100%;}
.south_tours .skin_module .metropolis .product_img img {width: 100%;}
.south_tours .skin_list .metropolis .title_box .left_box h1 {font-size:0;}
.south_tours .skin_list #tab1 .metropolis .title_box .left_box h1:after {content:'?e¢D?';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab2 .metropolis .title_box .left_box h1:after {content:'Au¢Xe';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab3 .metropolis .title_box .left_box h1:after {content:'??¢Xe?j3¢X';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab4 .metropolis .title_box .left_box h1:after {content:'aF?n¡LE';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab5 .metropolis .title_box .left_box h1:after {content:'?U?w';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab6 .metropolis .title_box .left_box h1:after {content:'|e¡LE/?n¡LE/??¡LE/?D?w';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab7 .metropolis .title_box .left_box h1:after {content:'?D?w/¡ÂA|eAo';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab8 .metropolis .title_box .left_box h1:after {content:'??aF';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab9 .metropolis .title_box .left_box h1:after {content:'?u¢Xe/¢D[R3?j';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab10 .metropolis .title_box .left_box h1:after {content:'?O¢D-?v/|L?¡Ñ?vRuRq';font-size: 25px;display: table;float: left;}
.south_tours .skin_list #tab11 .metropolis .title_box .left_box h1:after {content:'¢Dt2y?l?u';font-size: 25px;display: table;float: left;}

.central_tours .skin_module .metropolis .product_box {width: 31.4%}
.central_tours .skin_module .metropolis .title_box .left_box h1 {font-size:0;}
.central_tours .skin_module #tab1 .metropolis .title_box .left_box h1:after {content:'?e¢D?';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab2 .metropolis .title_box .left_box h1:after {content:'Au¢Xe';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab3 .metropolis .title_box .left_box h1:after {content:'??¢Xe?j3¢X';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab4 .metropolis .title_box .left_box h1:after {content:'aF?n¡LE';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab5 .metropolis .title_box .left_box h1:after {content:'?U?w';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab6 .metropolis .title_box .left_box h1:after {content:'|e¡LE/?n¡LE/??¡LE/?D?w';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab7 .metropolis .title_box .left_box h1:after {content:'?D?w/¡ÂA|eAo';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab8 .metropolis .title_box .left_box h1:after {content:'??aF';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab9 .metropolis .title_box .left_box h1:after {content:'?u¢Xe/¢D[R3?j';font-size: 25px;display: table;float: left;}
.central_tours .skin_module #tab10 .metropolis .title_box .left_box h1:after {content:'?O¢D-?v/|L?¡Ñ?vRuRq';font-size: 25px;display: table;float: left;}

.central_tours .skin_module #tab11 .metropolis .title_box .left_box h1:after {content:'¢Dt2y?l?u';font-size: 25px;display: table;float: left;}
.central_tours .skin_module .metropolis .product_img {width: 100%;}
.central_tours .skin_module .metropolis .product_img img {width: 100%;}
.central_tours .skin_module .metropolis .product_box {width: 31.4%}
.central_tours .skin_list .metropolis .title_box .left_box h1 {font-size:0;}
/*.central_tours .skin_list #tab1 .metropolis .title_box .left_box h1:after {content:'?e¢D?';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab2 .metropolis .title_box .left_box h1:after {content:'Au¢Xe';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab3 .metropolis .title_box .left_box h1:after {content:'??¢Xe?j3¢X';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab4 .metropolis .title_box .left_box h1:after {content:'aF?n¡LE';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab5 .metropolis .title_box .left_box h1:after {content:'?U?w';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab6 .metropolis .title_box .left_box h1:after {content:'|e¡LE/?n¡LE/??¡LE/?D?w';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab7 .metropolis .title_box .left_box h1:after {content:'?D?w/¡ÂA|eAo';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab8 .metropolis .title_box .left_box h1:after {content:'??aF';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab9 .metropolis .title_box .left_box h1:after {content:'?u¢Xe/¢D[R3?j';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab10 .metropolis .title_box .left_box h1:after {content:'?O¢D-?v/|L?¡Ñ?vRuRq';font-size: 25px;display: table;float: left;}
.central_tours .skin_list #tab11 .metropolis .title_box .left_box h1:after {content:'¢Dt2y?l?u';font-size: 25px;display: table;float: left;}
*/
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 1px;
    padding: 0;
    white-space: nowrap;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    border-bottom: 1px solid #f6f6f6;
    color: #454545;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid #00a0e9;
    background: #e4007f;
    font-weight: normal;
    color: #ffffff;
}
.ui-widget-content {
    border: none;
}
.wrapper {
	background: #FFF;
}
.footer_link {
	background: #FFF;
}
.skin_list {
    margin: 30px 0;
    padding: 0px;
}
.skin_module {
    margin: 30px 0;
    padding: 0px;
}
.skin_module .metropolis .product_description p {
    line-height: 30px;
    color: #FFF;
    margin: 0px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
}
@media (min-width: 980px) and (max-width: 1199px){
	.skin_module .metropolis .product_img ,.skin_module .metropolis .product_img img {
		height: 288px;
	}
	.skin_module .metropolis .product_description {
		top: 59%;
	}
	
}
@media (min-width: 981px) and (max-width: 994px){
	.skin_module .metropolis .product_img ,.skin_module .metropolis .product_img img {
		height: 218px;
	}
	.skin_module .metropolis .product_description {
		top: 57.5%;
	}
}

@media (max-width: 979px) {
	
}

@media (min-width: 768px) and (max-width: 979px){
	.skin_module .metropolis .product_box {
		width: 48%;
	}
	.skin_list .metropolis .product_name {
		width: 100%;
	}
	.skin_list .metropolis .product_description {
		width: 38%;
	}
	.skin_list .metropolis .product_price {
		width: 100px;
	}
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 333px;
	}
	.skin_module .metropolis .product_description {
		top: 62.5%;
	}
}
@media(max-width: 767px) {
	.skin_list .metropolis .product_name {width: 100%;/* height: 30px; *//* overflow: hidden; *//* text-overflow: ellipsis; *//* white-space: nowrap; */}
	.skin_list .metropolis .product_description {width: 100%;}
	.skin_list .metropolis .title_box .left_box h1 {
    /* color: #de44bc; */
    /* font-size: 16px; */
    /* text-align: left; */
    /* margin: 12px; */
    /* padding: 0px; */
    /* line-height: 24px; */
    /* letter-spacing: 0.8px; */
 }
 .skin_list .metropolis .departure_date {
	 width: 62%;
	display: block; */
	display:;
	overflow: hidden;
	height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
	.skin_module .metropolis .product_box {
		width: 47%;
	}
	.skin_module .metropolis .title_box {height: 40px;}
	.skin_module .metropolis .title_box .left_box {height: 40px;}
	.skin_module .metropolis .title_box .left_box h1 {/* font-size: 20px; *//* text-align: left; *//* margin: 0px 0px 0px 15px; *//* padding: 0px; *//* line-height: 40px; */}
	.skin_list .metropolis .product_all .product_box:nth-child(1) .product_name:before {content: "";display: table;padding: 0px;}
	.skin_list .metropolis .product_all .product_box:nth-child(1) .product_description:before {content: "";display: table;padding: 0px;}
	.skin_list .metropolis .product_all .product_box:nth-child(1) .product_price:before {content: "";display: table;padding: 0px;}

	
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 240px;
	}
	.skin_module .metropolis .product_description {
		top: 60%;
	}
	.skin_list .metropolis .product_box {
		height: 117px;
	}
}
@media(min-width: 650px) and (max-width: 766px) {
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 317px;
	}
	.skin_module .metropolis .product_description {
		top: 62%;
	}
}
@media(min-width: 480px) and (max-width: 766px) {
	
	.skin_module .metropolis .product_box {
		width: 47%;
	}
}

@media(min-width: 600px) and (max-width: 650px) {
	
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 279px;
	}
	.skin_module .metropolis .product_description {
		top: 59%;
	}
}

@media(min-width: 525px) and (max-width: 600px) {
	
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 255px;
	}
	.skin_module .metropolis .product_description {
		top: 56.5%;
	}
	
}

@media(min-width: 481px) and (max-width: 525px) {
	
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 199px;
	}
	.skin_module .metropolis .product_description {
		top: 49.5%;
	}
}

@media(max-width: 480px) {
	
	.skin_module .metropolis .product_box {
		width: 95%;
	}
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 342px;
	}
	.skin_module .metropolis .product_description {
		top: 64%;
	}
	.skin_list .metropolis .product_offer span {
		display: inline-block;
	}
	.skin_list .metropolis .product_offer {
		width:100%;
		display: table;
		padding-top: 0px;
	}
}

@media(max-width: 414px) {
	
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 304px;
	}
	.skin_module .metropolis .product_description {
		top: 61%;
	}
	
}

@media(max-width: 375px) {

	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 295px;
	}
	.skin_module .metropolis .product_description {
		top: 60.5%;
	}
}
@media(max-width: 350px) {
	.skin_list .metropolis .product_description {display:none;}
	.skin_module .metropolis .product_box {
		width: 94%;
	}
	.skin_list .metropolis .product_name {
		line-height: 28px;
	}
	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 260px;
	}
	.skin_module .metropolis .product_description {
		top: 63%;
	}

}
@media(max-width: 320px) {

	.skin_module .metropolis .product_img, .skin_module .metropolis .product_img img {
		height: 280px;
	}
	.skin_module .metropolis .product_description {
		top: 59%;
	}
}

.product_img img {display: table;}
