﻿/*--------------------------上標-------------------------- */
#bigtopbox{width:100%; border-top:3px solid #99cc66; margin:0 auto; font-family:"微軟正黑體" ,sans-serif;}
.topmenu{width: 1200px;margin:0 auto;overflow:hidden;/*background:#FC3;*/position:relative;}
.topmenu img.logo{ float:left; padding-top:10px; padding-left:20px;}
.topmenu ul{ float:left;margin-top:90px; margin-left:20px; }
.topmenu ul li{ float:left;font-size:18px; padding:0px 6px; background:url(../images/stable/spanline.png) no-repeat; height:30px;}
.topmenu ul li:first-child{ background:none;}
.topmenu ul li a{font-size:18px; height:25px; /*display:block;*/ padding:0px 6px; font-weight: bold; color:#666;text-decoration: none;}
.topmenu ul li a:hover{font-size:18px; border-bottom:2px solid #006633; color:#006633;}
#icon-ch{ position:absolute; right:20px; top:10px; margin:0;}
#icon-ch a{ display:block; background:url(../images/stable/sicon_01.png) no-repeat; width:38px;height:36px; float:left;}
#icon-ch a.home{ background-position:0 0; }
#icon-ch a.fb{ background-position:-38px 0;}
#icon-ch a.skype{ background-position:-76px 0;}
#icon-ch a.menber{ background-position:-114px 0;}
#icon-ch a.home:hover{ background-position:0 -36px;}
#icon-ch a.fb:hover{ background-position:-38px -36px;}
#icon-ch a.skype:hover{ background-position:-76px -36px;}
#icon-ch a.menber:hover{ background-position:-114px -36px;}
/*--------------------------下標-------------------------- */
#footer{ width:100%; bottom:0; font-family:"微軟正黑體" ,sans-serif;padding-top:20px;}
.tailbox{ width:940px; padding:20px; margin:0 auto; /*background:#39C;*/}
.tailbox ul{ width:785px; margin:0 auto; overflow:hidden; height:30px; }
.tailbox ul li{ float:left;padding:0 15px;border-right:1px solid #ccc;font-size:15px;color:#000;height:15px;line-height: 18px;}
.tailbox ul li a{font-size:15px;color:#666; text-decoration:none;}
.tailbox ul li a:hover{font-size:15px;color:#166419; text-decoration:underline;}
#greenbk{ background:#78ae37; padding:20px 0;}
.tailbox h1{ color:#FFF;font-size:18px;font-weight:normal;text-align:left;}
.tailbox h1 span{ color:#FFF; font-size:13px; padding-left:15px;}
.tailbox p{ color:#e5e5e5; font-size:13px; text-align:left; padding:10px 0; line-height: 12px;}
.area{color:#FFF; font-size:15px; text-align:left; overflow:hidden; margin:5px 0;}
.area p{ background:#FFF; color:#78ae37; padding:4px 8px; font-size:15px; float:left; line-height:18px;}
.area span{ background:none; color:#e5e5e5; font-size:13px; line-height:23px; padding-left:10px;}
.marklogo{ width:930px; margin:0 auto; background:#FFF;-webkit-border-radius: 10px;
-moz-border-radius: 10px;border-radius: 10px; padding: 0px 10px 8px 30px; overflow:hidden; margin-top:15px;}
.marklogo img{ float:left; padding-right:5px; padding-top:5px; width:65px;}
/*--------------------------左側內容區塊-------------------------- */
#web_main{ width:960px; padding:20px 10px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; background:#FFF;
margin:0 auto; margin-top:15px; overflow:hidden;}
#main_bigbox{ width:960px; margin:0 auto; overflow:hidden;font-family:"微軟正黑體",sans-serif;}
#main_lfbox{ width:740px; float:left;}
#main_rgbox{ width:210px; float:right;}
.newsarea{ width:722px; height:39px; border:1px solid #CCC; position:relative; margin-left:16px;}
/*.newsarea p{ margin-left:115px; color:#000; line-height:30px;}*/
.newsarea iframe{ width:600px; margin-left:115px; padding-top:5px;}
.newstitle{ background:url(../images/stable/newsimg.png) no-repeat; position:absolute; top:-1px; left:-16px; width:116px; height:40px; line-height:30px; color:#FFF; padding:0 15px;}
.themetext{ border-bottom:1px dashed #ccc; width:210px; margin:12px 0;}
.themetext h1{ background:url(../images/stable/grass.png) no-repeat; padding-left:35px; color:#000; line-height:20px;font-size:18px;padding-top:2px;}
.themetext span{ font-size:13px; color:#999;}
.search-box{  width:490px; height:152px; float:right; margin:10px 0;}
#new_lf{width:240px;float:left;margin-top:-160px;}
.lf-bg{width:220px;background:#f5f5f5;position:relative; padding:55px 10px 25px 10px;}
.banner-radius img{-webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius: 6px;margin-top:8px;}
.gofast{position:absolute; top:-3px; left:-2px;}
.gf-title{ border-bottom:1px solid #707070; color:#000; font-size:18px; padding:5px 0; margin-bottom:5px;font-weight: bold;}
#new_lf ul{margin:10px 0; padding:0; overflow:hidden;}
#new_lf ul li{ float:left; width:110px; color:#707070; font-size:14px; line-height:26px;}
#new_lf ul li a{ color:#000; text-decoration:none;}
#new_lf ul li a:hover{ color:#060; text-decoration:underline;}
/*--------------------------主題旅遊 手風琴效果-------------------------- */
.applemenu{margin:0;padding:0;width: 208px; /*width of menu*/border: 1px solid #D3D3D3;font-family:"微軟正黑體",sans-serif;font-size:13px;height: 280px;overflow: hidden;}
.applemenu div.silverheader a{
background: #f5f5f5 url(../images/movable/silvergradient.gif) repeat-x center left;
color:#333;display: block;position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;text-decoration: none;line-height:40px;padding-left: 8px;
/*padding: 5px 0;*/
}
.applemenu div.silverheader a:visited, .applemenu div.silverheader a:active{
color:#666;
}
.applemenu div.selected a,.applemenu div.silverheader a:hover{
background-image: url(../images/movable/silvergradientover.gif);
color:#097c25;
line-height:40px;
}
.applemenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
/*padding: 0px;*/
height: 120px; /*Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/
}
/*--------------------------右側 模組區塊 (精選 熱門)-------------------------- */
#new_rg{ width:710px; float:right; overflow:hidden;}
.change-box{ float:left; width:710px; margin:10px 0 8px 0; font-size:17px;}
.change-box a{ float:left; text-decoration:none; color:#999; margin:0 10px;line-height:36px; }
.change-box a:hover{text-decoration:none; color:#000; }
.chmenu01{background:url(../images/movable/choice_01a.jpg) no-repeat; padding-left:55px; height:36px;  }
.chmenu02 {background:url(../images/movable/choice_02a.jpg) no-repeat; padding-left:45px; height:36px; }
.chmenu03 {background:url(../images/movable/choice_03a.jpg) no-repeat; padding-left:35px; height:36px; }
.chmenu01:hover{background:url(../images/movable/choice_01.jpg) no-repeat;}
.chmenu02:hover{background:url(../images/movable/choice_02.jpg) no-repeat;}
.chmenu03:hover{background:url(../images/movable/choice_03.jpg) no-repeat;}
.nav li.active a.chmenu01{background:url(../images/movable/choice_01.jpg) no-repeat; color:#000;}
.nav li.active a.chmenu02{background:url(../images/movable/choice_02.jpg) no-repeat; color:#000;}
.nav li.active a.chmenu03{background:url(../images/movable/choice_03.jpg) no-repeat; color:#000;}
.change-box ul.nav {list-style-type: none;}
.nav li {float:left; line-height:36px;}
.tab-pane {display: none; /*margin-top:5px; overflow:hidden; float: right;*/}
.active {display: block;}
.rg-outline{ width:230px; float:left; height:220px; margin-left:-3px;}
.rg-mainline{ width:230px; float:left;height:220px; margin:0 10px;}
.newicon{ background:url(..images/stable/grass.png) no-repeat; border-bottom:1px #CCC dashed; line-height:32px; padding-left:40px; margin: 20px 0 10px 0;padding-top:10px; font-size:18px; font-weight:bold;}
.newicon span{ font-size:14px; color:#999;}
.hoticon{ background:url(../images/stable/hoticon.jpg) no-repeat; border-bottom:1px #CCC dashed; line-height:32px; padding-left:40px; margin: 20px 0 10px 0;padding-top:10px; font-size:18px; font-weight:bold;}
.hoticon span{ font-size:14px; color:#999;}
.hotbox01{ width:228px; float:left; border: 1px solid #eee; /*background:#FCC; height:255px;*/}
.hotbox02{ width:228px; float:left; border: 1px solid #eee; /*background:#FCC; height:255px;*/ margin:0 10px;}
.recdicon{ background: url(../images/stable/recdicon.jpg) no-repeat; line-height:40px; padding-left:30px; margin: 22px 0 10px 0; font-size:18px; font-weight:bold; height:31px;}
.recdicon span{ font-size:14px; color:#999;}
.recdbg{ background:#eee; padding:10px;}
/*-------------------------- 主題館 -------------------------- */
#theme-main{
	width: 980px;
	margin-top: 15px;
	overflow: hidden;
	font-family: "微軟正黑體" ,sans-serif;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.Rapid{width:980px; margin:10px 0; overflow:hidden;}
.Rapid img{float:left; margin-right:16px;}
.Rapidbox{ float:left; background:#FFF; width:703px; border:1px solid #CCC; margin-top:25px; position:relative; padding:12px 0;}
.fastblock{ background:url(../images/stable/fast-block.png) no-repeat; position:absolute; width:115px;
height:38px; top:-16px; left:-11px; line-height:30px; padding-left:15px; color:white; font-size: 16px; letter-spacing:0.1em;}
ul.Rd-cont{padding:10px 0px 0 15px;}
ul.Rd-cont li{ float: left;font-size: 14px;width: 105px;text-align:left;padding-left:8px;padding-top:7px;color: #333;}
ul.Rd-cont li a{ text-decoration:none;color: #333;}
ul.Rd-cont li a:hover{ text-decoration:underline;}
.theme-lf{ width:240px; margin-right:10px; float: left;}
.theme-rg{width:710px;float:left; padding-top:25px;}
.noname{width:230px;float:left; margin-top:7px;}
.C-noname{width:230px;float:left; margin:0 10px; margin-top:7px;}
.Chinaimg{ background:url(../images/stable/China_img.png) no-repeat; width: 236px;
height: 258px;position: absolute;right: -24px;z-index: 333;top: 10px;}
.northimg{ background:url(../images/stable/north_img.png) no-repeat; width: 194px;
height: 269px;position: absolute;right:10px;z-index: 333;top: 10px;}
.taiwanimg{ background:url(../images/stable/taiwan_img.png) no-repeat; width: 194px;
height: 269px;position: absolute;right:10px;z-index: 333;top: 10px;}
.southimg{ background:url(../images/stable/south_img.png) no-repeat; width: 194px;
height: 260px;position: absolute;right:10px;z-index: 333;top: 10px;}
.cruisesimg{ background:url(../images/stable/cruises_img.png) no-repeat;width: 194px;
height: 260px;position: absolute;right:10px;z-index: 333;top: 10px; }
.viewstar{ background:url(../images/stable/viewstart.png) no-repeat; padding-left:28px;
line-height: 27px;font-size:18px;color: #666; margin-bottom:6px; }
.theme-lf iframe{ margin-bottom:5px;}
/*-------------------------- 主題館 次頁 -------------------------- */
.themein-lf{ width:710px; margin:0 5px; float: left;}
.themein-rg{width:240px;float:left;}
.themein-wh{ background:url(../images/movable/wherego_bk.jpg) repeat-x; height:30px;width:707px; position: relative; margin-top:10px;}
.themein-tx{ background:#FFF; padding:5px 20px; position:absolute; left:270px; color:#59493f; font-size:16px;}
.tourbk{ background:#f5f5f5; padding:10px 15px; -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; position:relative; margin:9px 0;}
.themein-rg iframe{ margin-top:10px;}
.tourbk h1{ font-size:15px; color:#000; line-height:22px;}
.tourbk h1 a{ font-size:15px; color:#000; text-decoration:none;}
.tourbk h1 a:hover{ font-size:15px; color:#000; text-decoration:underline;}
.tourbk p{ font-size:13px; color:#999; line-height:22px; width:560px; text-overflow:ellipsis;}
.tourbk p a{ font-size:13px; color:#999; text-decoration:none;}
.tourbk p a:hover{ font-size:13px; color:#999; text-decoration:underline;}
.tourbk span{ font-size:18px; color:#900; line-height:22px; position:absolute; right:15px;top:32px;font-weight: bold;}
.tourlist{ width:683px; border:1px solid #CCC; margin:10px 0; padding:10px;}
/* ------------------------- 關於超悠 ------------------ */
.aboutsm{ padding:10px;font-family:微軟正黑體,Verdana;}
.aboutsm h1{ text-align:left; color:#063; margin:10px 0;}
.aboutsm p{ line-height:24px; color:#666; font-size:15px; text-align:left; margin-bottom:8px;}
/* ------------------------- 簽證專區 ------------------ */
.visaline{/*border-bottom:2px solid #78ad38;*/ width:960px; text-align:left; padding:20px 0 0px 0;}
.visatable{ border:1px solid #78ad38; margin:10px 0 20px 5px; font-family:微軟正黑體,Verdana; width:950px; }
.visatable td{ padding:5px 10px; border-bottom:#CCC 1px dashed; font-size:13px; line-height:24px; color: #5A5A5A;}
.visa-th{ background:#78ad38; color:#FFF !important; font-weight:bold !important; font-size:18px!important; }
.visatable ul{ padding:0; margin:0;}
.visatable ul li{ list-style:decimal; margin-left:22px;}
.visa-grbk{ background:#f6fee1; font-weight:bold; border-right:1px dashed #78ad38; font-size:15px !important;}
/* ------------------------- 航空公司 ------------------ */
.airtable{ border:1px solid #78ad38; margin:10px 0 20px 0; font-family:微軟正黑體,Verdana; width: 950px; }
.airtable th{ background:#78ad38;color:#FFF; font-size:16px; text-align:center;font-weight: 500;padding: 5px 0; }
.airtable td{ padding:5px 10px; border-bottom:#CCC 1px dashed; font-size:13px; line-height:26px; color: #5A5A5A;}
.airtable td a{ color:#5A5A5A; text-decoration:none;}
.airtable td a:hover{ color:#f39800; text-decoration: underline;}
/* ------------------------- 郵輪館tab ------------------ */

/* ------------------ 旅展專用 --------- */
.bx-wrapper2{
	padding:absolute;
	
	}
.recdicon2{ 
	background: url(../images/stable/recdicon.jpg) no-repeat; 
	line-height:40px;
	padding-left:30px;	
	margin: 80px 0 10px 0;
	font-size:18px; font-weight:bold; height:31px;}
.recdicon2 span{ font-size:14px; color:#999;}
.banner-radius2 img{
	width:960px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top:8px;
	}  
.theme-rg2{width:960px;float:left; padding-left:5px;padding-top:5px;}
.C-noname{width:234px;float:left; padding-left:2px;margin:0px; margin-top:7px;}
#greenbk2{ background:#78ae37; padding:20px 0;}

/* ------------------ 旅展專用 --------- */
/* ------------------ 過年專用 --------- */
.recdicon3{ background: no-repeat; line-height:40px; padding-left:30px; margin: 22px 0 10px 0; font-size:18px; font-weight:bold; height:31px;}

/* ------------------ 過年專用 --------- */
.otherpage{
	width: 960px;
	padding: 20px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFF;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
}
.otherpage ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.otherpage ul li{
	float: left;
	
}
.otherpage ul li a{
	text-decoration:none;
	font-size:13px;
	color:#666;
	padding: 5px 6px;
	width: 92px;
	height: 50px;
	text-align: center;
	border: 1px solid #ccc;
	line-height: 18px;
	display:block;
}
.tab-other {
  display: none;
  margin-top:10px;
}
.active {
  display: block;
}
