@charset "utf-8";
.body {
	font-family: "Helvetica Neue", Helvetica, Arial,"微軟正黑體",Microsoft JhengHei, sans-serif;
	margin: 0;
	height: 100%;
	font-size: 13px;
	margin: 0;
	padding: 0;
	display: block;
	margin: 8px;
	background-color: #666;
}
