@charset "utf-8";
.topfunc {
	overflow: hidden;
    width: 100%;
    height: 25px;
    transition: all .3s;
}
.topfunc .inner {
	text-align: right;
	width: 970%;
	max-width: 970px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.topfunc .inner .layout-header__group {
	float: right;
}
.topfunc .inner .layout-header__group .layout-header__member {
	background: #abd470;
}
.topfunc .inner .layout-header__group .layout-header__member ul {
	list-style-type: none;
}
.topfunc .inner .layout-header__group .layout-header__member ul .icon__member {
	padding: 3.5px 0;
    vertical-align: middle;
}
