<!--#include virtual="/include/egrpDSN.inc" -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>訂閱電子報</title>
<link href="/css/<%=iWEB_ID%>.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_popupMsg(msg) { //v1.0
  alert(msg);
}
function Submit()
{	
	document.List.action="mailto:pac@mail2000.com.tw?subject=訂閱--太平洋電子報--";	
	document.List.submit();
	alert("非常謝謝您訂閱電子報,\r確定後離開主畫面!");
	window.close();
}
function Submit_No()
{
	document.List.action="mailto:pac@mail2000.com.tw?subject=退閱--太平洋電子報--";
	document.List.submit();
	alert("非常謝謝您退閱電子報,\r確定後離開主畫面!");
	window.close();
}
//-->
</script>
<style type="text/css">
<!--
.unnamed1 {
	font-size: 12px;
	color: #0099FF;
}
-->
</style>
</head>
<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('/eWeb_<%=iWEB_ID%>/images/top_menu/top_menu001_on.gif')">

<table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="21" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="30" bgcolor="#EAF4FB" class="text2">&nbsp; </td>
          <td width="20" bgcolor="#BEE1FC">&nbsp;</td>
          <td width="10" bgcolor="#74C2FC"></td>
        </tr>
      </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#666666">
        <tr> 
          <td height="1"> </td>
        </tr>
      </table></td>
  </tr>
<form id=List name=List method=post enctype=multipart/form-data>	
    <tr>       
    <td align="center" valign="top" bgcolor="#FFFBFF" class="visa-bg"><br>
      <table width=100% border=0 cellpadding=0 cellspacing=0>
        <tbody>
          <tr align="center"> 
            <td class="right-menu-link01"> 訂閱電子報</td>
          </tr>
          <tr> 
            <td height="30" align="center">
				<input onBlur="if(this.value=='')this.value='請輸入收報用的e-mail'"  onMouseOver="window.status='請輸入收報用的e-mail';return true" style="FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, sans-serif" onFocus="if (this.value.indexOf('入')!=-1) {this.value=''}" onMouseOut="window.status='請輸入收報用的e-mail';return true" size=13 value=輸入收報e-mail name=訂閱者>							  
              	<input type=button class="member-input-text" onClick="Submit();" value=訂報> 
            </td>
          </tr>
          <tr> 
            <td height="30" align="center">
				<input onBlur="if(this.value=='')this.value='請輸入收報用的e-mail'" onMouseOver="window.status='請輸入退報用的e-mail';return true" style="FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, sans-serif" onFocus="if (this.value.indexOf('入')!=-1) {this.value=''}" onMouseOut="window.status='請輸入退報用的e-mail';return true" size=13 value=輸入退報e-mail name=退閱者>							  
              	<input type=button class="member-input-text" onClick="Submit_No();" value=退訂> 
            </td>
          </tr>
        </tbody>
      </table>
	  
        <br>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="center"  class="unnamed1">退訂，請輸入原訂報信箱</td>
          </tr>
        </table></td>
  </tr>
  </form>
  <tr>
    <td height="21" valign="top"> 
      <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#666666">
        <tr> 
          <td height="1"> </td>
        </tr>
      </table>
        
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="10" height="30" bgcolor="#74C2FC" class="text2"> </td>
          <td width="20" bgcolor="#BEE1FC">&nbsp;</td>
          <td bgcolor="#EAF4FB">&nbsp; </td>
        </tr>
      </table></td>
  </tr>
</table></body></html>